{
  "swagger": "2.0",
  "info": {
    "title": "포트원 REST API",
    "description": "* 결제완료된 정보, 결제취소, 상태별 결제목록 조회 등의 기능을 하는 REST API를 제공합니다.<br> 비인증결제, 정기 자동결제 등 부가기능을 위한 REST API를 제공합니다.",
    "contact": {
      "name": "(주)코리아포트원",
      "url": "https://admin.portone.io",
      "email": "cs@portone.io"
    },
    "version": "1.0"
  },
  "host": "api.iamport.kr",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/users/getToken": {
      "post": {
        "tags": [
          "authenticate"
        ],
        "summary": "access_token 발급 API",
        "description": "API키 & API secret으로 access_token을 발급받습니다.<br> access_token의 만료기한은 발행 시간 부터 30분입니다. 만료된 토큰으로 API 요청을 하면 <b>401 Unauthorized </b>응답을 받습니다. <br> <ul><li>재발행 (만료 후 발급): 새로운 access token을 발급한다. (만료기한: 발행시간 후 30분)</li> <li>재사용 (만료 전 발급): 기존 access token을 발급한다. (만료기한: 기존과 동일, 단 기존 만료시간 전 1분이내 요청 시 5분 연장 됨)</li></ul>",
        "operationId": "getToken",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "imp_key",
            "in": "formData",
            "description": "REST API key (포트원 관리자콘솔 내 [결제 연동] > [식별코드・API Keys] > [V1 API]에서 확인할 수 있습니다. : https://admin.portone.io)",
            "required": true,
            "type": "string",
            "x-portone-name": "REST API KEY",
            "x-portone-description": "REST API key로 포트원 관리자콘솔 내 [결제 연동] > [식별코드・API Keys] > [V1 API]에서 확인할 수 있습니다. : https://admin.portone.io"
          },
          {
            "name": "imp_secret",
            "in": "formData",
            "description": "REST API Secret (포트원 관리자콘솔 내 [결제 연동] > [식별코드・API Keys] > [V1 API]에서 확인할 수 있습니다. : https://admin.portone.io)",
            "required": true,
            "type": "string",
            "x-portone-name": "REST API SECRET",
            "x-portone-description": "REST API Secret으로 포트원 관리자콘솔 내 [결제 연동] > [식별코드・API Keys] > [V1 API]에서 확인할 수 있습니다. : https://admin.portone.io"
          }
        ],
        "responses": {
          "200": {
            "description": "정상적으로 access_token을 받아왔습니다",
            "schema": {
              "$ref": "#/definitions/AuthResponse"
            }
          },
          "401": {
            "description": "imp_key, imp_secret 인증에 실패한 경우"
          }
        },
        "x-portone-category": "auth"
      }
    },
    "/benepia/point": {
      "post": {
        "tags": [
          "benepia"
        ],
        "summary": "포인트 단건조회 API",
        "description": "API를 통해 베네피아 포인트(복지포인트)조회합니다.<br>\n    사용자로부터 베네피아 계정 아이디, 비밀번호를 전달받아 보유중인 베네피아 포인트를 조회할 수 있습니다.<br>\n    KCP를 통해서만 진행되므로 KCP사이트코드 발급이 필요합니다.",
        "operationId": "queryBenepiaPoint",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "benepia_user",
            "in": "formData",
            "description": "베네피아 계정 아이디",
            "required": true,
            "type": "string",
            "x-portone-name": "계정 아이디",
            "x-portone-description": "베네피아 계정 아이디"
          },
          {
            "name": "benepia_password",
            "in": "formData",
            "description": "베네피아 계정 비밀번호",
            "required": true,
            "type": "string",
            "x-portone-name": "계정 비밀번호",
            "x-portone-description": "베네피아 계정 비밀번호"
          },
          {
            "name": "channel_key",
            "in": "formData",
            "description": "베네피아 포인트 조회 시 사용할 채널의 채널키",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "베네피아 포인트 조회 완료",
            "schema": {
              "$ref": "#/definitions/BenepiaPointResponse"
            }
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          },
          "500": {
            "description": "베네피아 포인트 조회 실패"
          }
        },
        "x-portone-supported-pgs": [
          "kcp"
        ],
        "x-portone-category": "etc.benepia"
      }
    },
    "/benepia/payment": {
      "post": {
        "tags": [
          "benepia"
        ],
        "summary": "포인트 결제 요청 API",
        "description": "API를 통해 베네피아 포인트(복지포인트)사용 결제요청합니다.<br>\n      사용자로부터 전달받은 베네피아 계정 아이디, 비밀번호와 함께 결제정보를 요청하여 베네피아 포인트 사용처리합니다. <br>\n      KCP를 통해서만 진행되므로 KCP사이트코드 발급이 필요합니다.",
        "operationId": "payBenepiaPoint",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "benepia_user",
            "in": "formData",
            "description": "베네피아 계정 아이디",
            "required": true,
            "type": "string",
            "x-portone-name": "계정 아이디",
            "x-portone-description": "베네피아 계정 아이디"
          },
          {
            "name": "benepia_password",
            "in": "formData",
            "description": "베네피아 계정 비밀번호",
            "required": true,
            "type": "string",
            "x-portone-name": "계정 비밀번호",
            "x-portone-description": "베네피아 계정 비밀번호"
          },
          {
            "name": "benepia_member_code",
            "in": "formData",
            "description": "베네피아 기관에서 부여한 회원사 코드(미입력시, 테스트 결제 처리됨)",
            "required": false,
            "type": "string",
            "x-portone-name": "회원사 코드",
            "x-portone-description": "베네피아 기관에서 부여한 회원사 코드(미입력시, 테스트 결제 처리됨)"
          },
          {
            "name": "merchant_uid",
            "in": "formData",
            "description": "고객사 거래 고유번호. 이미 결제가 이뤄진 적이 있는 merchant_uid로는 결제요청이 불가능합니다.",
            "required": true,
            "type": "string",
            "maxLength": 40,
            "x-portone-name": "고객사 주문번호",
            "x-portone-summary": "고객사 거래 고유번호",
            "x-portone-description": "이미 결제가 이뤄진 적이 있는 merchant_uid로는 결제요청이 불가능합니다."
          },
          {
            "name": "amount",
            "in": "formData",
            "description": "결제요청금액",
            "required": true,
            "type": "number",
            "x-portone-name": "결제요청금액",
            "x-portone-description": "결제 요청하고자 하는 금액"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "주문명",
            "required": true,
            "type": "string",
            "maxLength": 40,
            "x-portone-name": "주문명",
            "x-portone-description": "주문명"
          },
          {
            "name": "buyer_name",
            "in": "formData",
            "description": "주문자명",
            "required": false,
            "type": "string",
            "maxLength": 16,
            "x-portone-name": "주문자명",
            "x-portone-description": "주문자명"
          },
          {
            "name": "buyer_email",
            "in": "formData",
            "description": "주문자 Email주소",
            "required": false,
            "type": "string",
            "maxLength": 64,
            "x-portone-name": "주문자 Email 주소",
            "x-portone-description": "주문자 Email주소"
          },
          {
            "name": "buyer_tel",
            "in": "formData",
            "description": "주문자 전화번호",
            "required": false,
            "type": "string",
            "maxLength": 16,
            "x-portone-name": "주문자 전화번호",
            "x-portone-description": "주문자 전화번호"
          },
          {
            "name": "buyer_addr",
            "in": "formData",
            "description": "주문자 주소",
            "required": false,
            "type": "string",
            "maxLength": 128,
            "x-portone-name": "주문자 주소",
            "x-portone-description": "주문자 주소"
          },
          {
            "name": "buyer_postcode",
            "in": "formData",
            "description": "주문자 우편번호",
            "required": false,
            "type": "string",
            "maxLength": 8,
            "x-portone-name": "주문자 우편번호",
            "x-portone-description": "주문자 우편번호"
          },
          {
            "name": "channel_key",
            "in": "formData",
            "description": "베네피아 포인트 결제 시 사용할 채널의 채널키",
            "required": true,
            "type": "string"
          },
          {
            "name": "notice_url",
            "in": "formData",
            "description": "선언되지 않으면 포트원 관리자 페이지에 정의된 Notification URL값을 사용",
            "required": false,
            "type": "array",
            "x-portone-name": "Notification URL(Webhook URL)",
            "x-portone-description": "웹훅을 수신하고자 하는 URL"
          },
          {
            "name": "custom_data",
            "in": "formData",
            "description": "결제정보와 함께 저장할 custom_data. 객체로 전달되는 경우 JSON 문자열로 저장",
            "required": false,
            "type": "string",
            "x-portone-name": "추가정보",
            "x-portone-summary": "결제정보와 함께 저장할 custom_data",
            "x-portone-description": "객체로 전달되는 경우 JSON 문자열로 저장"
          }
        ],
        "responses": {
          "200": {
            "description": "베네피아 포인트 결제 완료",
            "schema": {
              "$ref": "#/definitions/PaymentResponse"
            }
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          },
          "500": {
            "description": "베네피아 포인트 결제 실패"
          }
        },
        "x-portone-supported-pgs": [
          "kcp"
        ],
        "x-portone-category": "etc.benepia"
      }
    },
    "/certifications/{imp_uid}": {
      "get": {
        "tags": [
          "certifications"
        ],
        "summary": "본인인증 결과조회 API",
        "description": "본인인증된 결과를 imp_uid를 이용하여 조회합니다.",
        "operationId": "getCertification",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "imp_uid",
            "in": "path",
            "description": "포트원 인증 고유번호",
            "required": true,
            "type": "string",
            "x-portone-name": "포트원 인증 고유번호",
            "x-portone-description": "본인인증 결과로 리턴 받은 포트원 인증 고유번호"
          }
        ],
        "responses": {
          "200": {
            "description": "본인인증결과 조회 성공",
            "schema": {
              "$ref": "#/definitions/CertificationResponse"
            }
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          },
          "404": {
            "description": "본인인증결과를 찾을 수 없음"
          }
        },
        "x-portone-supported-pgs": [
          "danal",
          "inicis_unified",
          "inicis",
          "kcp_v2"
        ],
        "x-portone-category": "certification"
      },
      "delete": {
        "tags": [
          "certifications"
        ],
        "summary": "본인인증 정보삭제 API",
        "description": "본인인증 결과를 삭제합니다.<br>본인인증 결과정보를 포트원 서버내에서 완전히 삭제하고 싶을 때 요청합니다.",
        "operationId": "deleteCertification",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "imp_uid",
            "in": "path",
            "description": "포트원 인증 고유번호",
            "required": true,
            "type": "string",
            "x-portone-name": "포트원 인증 고유번호",
            "x-portone-description": "본인인증 결과로 리턴받은 포트원 인증 고유번호"
          }
        ],
        "responses": {
          "200": {
            "description": "본인인증결과 삭제 완료",
            "schema": {
              "$ref": "#/definitions/CertificationResponse"
            }
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          },
          "404": {
            "description": "본인인증결과를 찾을 수 없음"
          },
          "500": {
            "description": "DB삭제도중 서버 장애 발생"
          }
        },
        "x-portone-supported-pgs": [
          "danal",
          "inicis_unified",
          "inicis",
          "kcp_v2"
        ],
        "x-portone-category": "certification"
      }
    },
    "/certifications/otp/request": {
      "post": {
        "tags": [
          "certifications"
        ],
        "summary": "본인인증 요청 API",
        "description": "사용자 개인정보를 API로 전달하여, 통신사로부터 확인되는 경우 OTP(6자리 인증번호)를 사용자에게 SMS로 전달합니다.\n<br><br>통신사 승인을 받은 일부 고객사에 한해 사용하실 수 있으며, 현재 <b>다날</b>, <b>kcp(신모듈)</b>을 통해서만 서비스되고 있습니다.\n<br><br>본인인증 대상자의 성명, 생년월일 + 주민등록 뒷부분 첫 자리, 휴대폰번호, 통신사 정보를 고객사에서 직접 입력받아 API요청하면 됩니다. 전달된 개인정보가 올바를 경우 해당 휴대폰으로 인증번호 SMS가 전송됩니다.\n<br><br>200응답 시 imp_uid 가 응답데이터로 전달되며, SMS전송된 인증번호를 본인인증 완료 API 로 요청주시면 최종 본인인증 프로세스가 완료됩니다.",
        "operationId": "requestOTP",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "formData",
            "description": "본인인증 대상자 성명",
            "required": true,
            "type": "string",
            "x-portone-name": "성명",
            "x-portone-description": "본인인증 대상자 성명"
          },
          {
            "name": "phone",
            "in": "formData",
            "description": "본인인증 대상자 전화번호<br>(- 또는 . 과 같은 기호가 포함되어도 무방 - 포트원 내에서 숫자 외에는 정규식으로 모두 제거처리)",
            "required": true,
            "type": "string",
            "x-portone-name": "휴대폰번호",
            "x-portone-summary": "본인인증 대상자 전화번호",
            "x-portone-description": "- 또는 . 과 같은 기호가 포함되어도 무방 - 포트원 내에서 숫자 외에는 정규식으로 모두 제거처리"
          },
          {
            "name": "birth",
            "in": "formData",
            "description": "본인인증 대상자 생년월일<br> YYMMDD 6자리(연/월/일 사이에 - 또는 . 과 같은 기호가 포함되어도 무방 - 포트원 내에서 숫자 외에는 정규식으로 모두 제거처리함)",
            "required": true,
            "type": "string",
            "x-portone-name": "생년월일",
            "x-portone-summary": "본인인증 대상자 생년월일",
            "x-portone-description": "`YYMMDD` 6자리(연/월/일 사이에 - 또는 . 과 같은 기호가 포함되어도 무방 - 포트원 내에서 숫자 외에는 정규식으로 모두 제거처리함)"
          },
          {
            "name": "gender_digit",
            "in": "formData",
            "description": "본인인증 대상자 주민등록번호 뒷부분 첫자리(주민등록번호 13자리 중 7번째 자리<br>2000년 이전 출생자는 1 또는 2, 2000년 이후 출생자는 3 또는 4)\n<br><br> 외국인 고객은 다음 기준에 따라 입력해주세요:\n- 남성: ~1999년생은 5, 2000년 이후 출생자는 7\n- 여성: ~1999년생은 6, 2000년 이후 출생자는 8",
            "required": true,
            "type": "string",
            "x-portone-name": "성별구분코드",
            "x-portone-summary": "본인인증 대상자 주민등록번호 뒷부분 첫자리",
            "x-portone-description": "주민등록번호 13자리 중 7번째 자리\n\n2000년 이전 출생자는 1 또는 2, 2000년 이후 출생자는 3 또는 4\n<br><br> kcp(신모듈)의 경우 외국인 고객은 다음 기준에 따라 입력해주세요:\n- 남성: ~1999년생은 5, 2000년 이후 출생자는 7\n- 여성: ~1999년생은 6, 2000년 이후 출생자는 8"
          },
          {
            "name": "carrier",
            "in": "formData",
            "description": "본인인증 대상자 통신사 코드 (알뜰폰 사용자의 경우, carrier파라메터 SKT, KT, LGT 중 하나를 지정한 후 <b>is_mvno : true</b> 로 설정)\n                            <ul><li>SKT</li>\n                            <li>KT</li>\n                            <li>LGT</li></ul>",
            "required": true,
            "type": "string",
            "enum": [
              "SKT",
              "KT",
              "LGT"
            ],
            "x-portone-name": "통신사구분코드",
            "x-portone-summary": "본인인증 대상자 통신자 코드",
            "x-portone-description": "알뜰폰 사용자의 경우, carrier파라메터 SKT, KT, LGT 중 하나를 지정한 후 **is_mvno : true** 로 설정\n- SKT\n- KT\n- LGT"
          },
          {
            "name": "is_mvno",
            "in": "formData",
            "description": "본인인증 대상자 알뜰폰 사용 여부",
            "required": false,
            "type": "boolean",
            "default": "false",
            "x-portone-name": "알뜰폰 사용 여부",
            "x-portone-description": "본인인증 대상자 알뜰폰 사용 여부"
          },
          {
            "name": "company",
            "in": "formData",
            "description": "고객사 서비스명칭 또는 domain URL. <br> KISA에서 대상자에게 발송하는 SMS에 안내될 서비스 명칭",
            "required": false,
            "type": "string",
            "x-portone-name": "고객사 서비스명칭",
            "x-portone-summary": "고객사 서비스명칭 또는 domain URL",
            "x-portone-description": "KISA에서 대상자에게 발송하는 SMS에 안내될 서비스 명칭"
          },
          {
            "name": "merchant_uid",
            "in": "formData",
            "description": "본인인증 요청건을 식별하기 위한 고객사 주문번호",
            "required": false,
            "type": "string",
            "x-portone-name": "고객사 주문번호",
            "x-portone-description": "본인인증 요청건을 식별하기 위한 고객사 주문번호"
          },
          {
            "name": "pg",
            "in": "formData",
            "description": "PG사 구분자<br>다날 상점아이디를 2개 이상 동시에 사용하시려는 경우 설정하시면 됩니다. <b>danal.{상점아이디}</b> 형태로 지정. Deprecated 되었으므로 channel_key 파라미터를 사용해주세요.",
            "required": false,
            "type": "string",
            "x-portone-name": "PG사 구분코드(deprecated)",
            "x-portone-summary": "본인인증을 요청하고자 하는 PG사 구분자",
            "x-portone-description": "다날 상점아이디를 2개 이상 동시에 사용하시려는 경우 설정하시면 됩니다. **danal.{상점아이디}** 형태로 지정. Deprecated 되었으므로 channel_key 파라미터를 사용해주세요."
          },
          {
            "name": "channel_key",
            "in": "formData",
            "description": "본인인증을 요청하고자 하는 PG사의 채널키로 kcp(신모듈) 본인인증을 사용하시려는 경우 반드시 channel_key를 입력해야합니다.",
            "required": true,
            "type": "string",
            "x-portone-name": "채널키",
            "x-portone-summary": "본인인증을 요청하고자 하는 PG사의 채널키",
            "x-portone-description": "kcp(신모듈) 본인인증을 사용하시려는 경우 반드시 channel_key를 입력해야합니다."
          },
          {
            "name": "verification_method",
            "in": "formData",
            "description": "본인인증을 진행하고자 하는 방식.\n - SMS\n - APP\n\n지원하는 pg사\n- kcp(신모듈)",
            "required": false,
            "type": "string",
            "enum": [
              "SMS",
              "APP"
            ],
            "x-portone-name": "본인인증 방식",
            "x-portone-summary": "본인인증을 진행하고자 하는 방식",
            "x-portone-description": "본인인증을 진행하고자 하는 방식. (현재 kcp(신모듈)만 지원)\n- SMS\n- APP",
            "x-portone-supported-pgs": [
              "kcp_v2"
            ]
          },
          {
            "name": "bypass",
            "in": "formData",
            "description": "JSON string 형식의 PG사별로 특화된 파라미터. <br>전달 한 값은 가공 없이 그대로 PG사로 전달 됩니다. <br>각 PG사별 스펙은 PG사별 연동 문서 참고해주세요",
            "required": false,
            "type": "string",
            "x-portone-name": "bypass 데이터",
            "x-portone-summary": "JSON string 형식의 PG사별로 특화된 파라미터",
            "x-portone-description": "전달 한 값은 가공 없이 그대로 PG사로 전달 됩니다. 각 PG사별 스펙은 PG사별 연동 문서 참고해주세요",
            "x-portone-supported-pgs": [
              "kcp_v2"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "본인인증을 위한 대상자 정보 검증 완료(인증번호 SMS전송요청 중)",
            "schema": {
              "$ref": "#/definitions/CertificationOTPResponse"
            }
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          },
          "400": {
            "description": "대상자 개인정보 중 일부가 누락되었거나 올바르지 않은 경우"
          },
          "500": {
            "description": "처리 중 다날서버 응답오류 등 오류가 발생한 경우"
          }
        },
        "x-portone-supported-pgs": [
          "danal",
          "kcp_v2"
        ],
        "x-portone-category": "certification"
      }
    },
    "/certifications/otp/confirm/{imp_uid}": {
      "post": {
        "tags": [
          "certifications"
        ],
        "summary": "본인인증 완료 API",
        "description": "본인인증 요청 API를 통해 SMS/APP로 전송된 인증번호를 전달하여 본인인증을 완료합니다. <br>\n     본인인증이 완료되면 대상자의 이름, 전화번호, 통신사, 성별, 외국인 여부, 생년월일, CI, DI 값을 응답받을 수 있습니다.",
        "operationId": "confirmOTP",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "imp_uid",
            "in": "path",
            "description": "본인인증 요청 API 요청 후 응답된 인증 고유번호",
            "required": true,
            "type": "string",
            "x-portone-name": "포트원 인증 고유번호",
            "x-portone-description": "본인인증 요청 API 요청 후 응답된 인증 고유번호"
          },
          {
            "name": "otp",
            "in": "formData",
            "description": "SMS로 전송된 본인인증 번호. KCP (신모듈) APP 방식의 경우에는 해당 값을 전달하지 않습니다.",
            "required": false,
            "type": "string",
            "x-portone-name": "본인인증 번호",
            "x-portone-description": "SMS로 전송된 본인인증 번호. KCP (신모듈) APP 방식의 경우에는 해당 값을 전달하지 않습니다."
          }
        ],
        "responses": {
          "200": {
            "description": "본인인증완료",
            "schema": {
              "$ref": "#/definitions/CertificationResponse"
            }
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          },
          "400": {
            "description": "인증번호를 누락하였거나 이미 인증처리가 완료된 건에 대해 재요청하는 경우"
          },
          "404": {
            "description": "imp_uid 에 해당되는 요청건이 없는 경우"
          },
          "500": {
            "description": "처리 중 다날서버 응답오류 등 오류가 발생한 경우"
          }
        },
        "x-portone-supported-pgs": [
          "danal",
          "kcp_v2"
        ],
        "x-portone-category": "certification"
      }
    },
    "/subscribe/customers": {
      "get": {
        "tags": [
          "subscribe.customer"
        ],
        "summary": "빌링키 정보 복수조회 API",
        "description": "여러 개의 빌링키를 한 번에 조회하는 API입니다.<br><br>등록된 카드마다 1개의 customer_uid가 매핑되므로,\n     고객사 시스템 내에 1명의 고객이 여러 장의 카드를 등록할 수 있는 경우 여러 개의 customer_uid를 가지게 됩니다.<br> 해당 고객이 등록해놓은 카드정보 목록을 한 번에 조회하는데 사용하면 편리합니다.\n     <br><br>예시) /subscribe/customers?customer_uid[]=hong_1234_a&customer_uid[]=hong_1234_b",
        "operationId": "customer_view_multiple",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customer_uid[]",
            "in": "query",
            "description": "빌링키와 매핑되며 고객사에서 채번하는 구매자의 결제 수단 식별 고유번호",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "default": "customer_1234",
            "x-portone-name": "구매자의 결제 수단 식별 고유번호",
            "x-portone-description": "빌링키와 매핑되며 고객사에서 채번하는 구매자의 결제 수단 식별 고유번호"
          }
        ],
        "responses": {
          "200": {
            "description": "요청된 모든 customer_uid 에 대한 빌키정보 응답완료. 조회된 빌링키에 따라 일반 빌링키(CustomerAnnotation)와 슈퍼 빌링키(SuperBillingKeyAnnotation)를 포함할 수 있습니다.",
            "schema": {
              "$ref": "#/definitions/MultipleCustomersResponse"
            }
          },
          "207": {
            "description": "요청된 customer_uid 중 일부 빌키정보 조회 실패(ex. 접근권한없음 또는 존재하지 않는 customer_uid). 조회된 빌링키에 따라 일반 빌링키(CustomerAnnotation)와 슈퍼 빌링키(SuperBillingKeyAnnotation)를 포함할 수 있습니다.",
            "schema": {
              "$ref": "#/definitions/MultipleCustomersResponse"
            }
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          },
          "404": {
            "description": "유효하지 않은 customer_uid"
          }
        },
        "x-portone-supported-pgs": [
          "chai",
          "danal",
          "danal_tpay",
          "daou",
          "html5_inicis",
          "inicis",
          "kakaopay",
          "kcp",
          "kcp_billing",
          "kicc",
          "ksnet",
          "mobilians",
          "naverpay",
          "nice",
          "payco",
          "paymentwall",
          "settle",
          "settle_acc",
          "settle_firm",
          "smartro_v2",
          "tosspayments",
          "paypal_v2",
          "welcome",
          "tosspay_v2"
        ],
        "x-portone-category": "billingkey",
        "x-portone-per-pg": {
          "paypal_v2": {
            "description": "연동 유의사항\n\n빌링키 발급 수단 및 정보를 알 수 없음\n\n페이팔을 통해 다양한 수단으로 빌링키 발급이 가능하지만, 페이팔이 승인 된 빌링키 발급 수단 및 정보를 알려주지 않습니다.\n따라서 페이팔 빌링키 발급 건의 결제 수단(pay_method)은 모두 **paypal**로 일괄 저장되며 발급 된 빌링키 정보 조회시 카드 정보는 모두 **null**로 내려갑니다.\n```json\n\\\\ GET /subscribe/customers/{customer_uid}\n{\n    ...중략\n    pg_provider: 'paypal_v2',\n    customer_uid: '{customer_uid}'\n    card_name: null,\n    card_code: null,\n    card_number: null,\n    card_type: null,\n}\n```\n    "
          }
        }
      }
    },
    "/subscribe/customers/{customer_uid}": {
      "get": {
        "tags": [
          "subscribe.customer"
        ],
        "summary": "빌링키 정보 단건조회 API",
        "description": "구매자의 빌링키 정보 조회",
        "operationId": "customer_view",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customer_uid",
            "in": "path",
            "description": "빌링키와 매핑되며 고객사에서 채번하는 구매자의 결제 수단 식별 고유번호",
            "required": true,
            "type": "string",
            "default": "customer_1234",
            "x-portone-name": "구매자의 결제 수단 식별 고유번호",
            "x-portone-description": "빌링키와 매핑되며 고객사에서 채번하는 구매자의 결제 수단 식별 고유번호"
          }
        ],
        "responses": {
          "200": {
            "description": "정상 조회 시, 일반 빌링키 조회는 CustomerResponse를 반환하며, 슈퍼 빌링키 조회는 SuperBillingKeyResponse를 반환합니다.",
            "schema": {
              "properties": {
                "CustomerResponse": {
                  "$ref": "#/definitions/CustomerResponse"
                },
                "SuperBillingKeyResponse": {
                  "$ref": "#/definitions/SuperBillingKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          },
          "404": {
            "description": "유효하지 않은 customer_uid"
          }
        },
        "x-portone-supported-pgs": [
          "chai",
          "danal",
          "danal_tpay",
          "daou",
          "html5_inicis",
          "inicis",
          "kakaopay",
          "kcp",
          "kcp_billing",
          "kicc",
          "ksnet",
          "mobilians",
          "naverpay",
          "nice",
          "payco",
          "paymentwall",
          "settle",
          "settle_acc",
          "settle_firm",
          "smartro_v2",
          "tosspayments",
          "paypal_v2",
          "nice_v2",
          "welcome",
          "tosspay_v2"
        ],
        "x-portone-category": "billingkey",
        "x-portone-per-pg": {
          "paypal_v2": {
            "description": "연동 유의사항\n\n빌링키 발급 수단 및 정보를 알 수 없음\n\n페이팔을 통해 다양한 수단으로 빌링키 발급이 가능하지만, 페이팔이 승인 된 빌링키 발급 수단 및 정보를 알려주지 않습니다.\n따라서 페이팔 빌링키 발급 건의 결제 수단(pay_method)은 모두 **paypal**로 일괄 저장되며 발급 된 빌링키 정보 조회시 카드 정보는 모두 **null**로 내려갑니다.\n```json\n\\\\ GET /subscribe/customers/{customer_uid}\n{\n    ...중략\n    pg_provider: 'paypal_v2',\n    customer_uid: '{customer_uid}'\n    card_name: null,\n    card_code: null,\n    card_number: null,\n    card_type: null,\n}\n```\n    "
          }
        }
      },
      "post": {
        "tags": [
          "subscribe.customer"
        ],
        "summary": "빌링키 발급 API",
        "description": "구매자에 대해 빌링키 발급 및 저장 <br> 해당 빌링키 발급 API는 PG사와 협의가 완료된 경우 이용 가능한 서비스입니다.\n                        <ul> <li>PG사 협의를 통해 카드정보 필수 조건 값 조정이 가능합니다.</li>\n                        <li>민감한 카드정보를 이용하기 때문에 보안에 특히 유의하셔야 합니다.</li>\n                        <li>customer_uid 값은 <b>고객 & 카드번호</b> 단위별로 고유하게 발급 관리되어야 합니다</li>\n                        </ul>",
        "operationId": "customer_save",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customer_uid",
            "in": "path",
            "description": "빌링키와 매핑되며 고객사에서 채번하는 구매자의 결제 수단 식별 고유번호",
            "required": true,
            "type": "string",
            "default": "customer_1234",
            "maxLength": 80,
            "x-portone-name": "구매자의 결제 수단 식별 고유번호",
            "x-portone-description": "빌링키와 매핑되며 고객사에서 채번하는 구매자의 결제 수단 식별 고유번호"
          },
          {
            "name": "pg",
            "in": "formData",
            "description": "API 방식 비인증 PG설정이 2개 이상인 경우, 결제가 진행되길 원하는 PG사를 지정하실 수 있습니다. pg 파라메터는 <b>{PG사}</b> 혹은 <b>{PG사}.{PG상점아이디}</b> 형태의 문자열입니다. <br>지정하지 않거나 유효하지 않은 값이 전달되면 기본PG설정된 값을 이용해 결제하게 됩니다. <br><ul><li>나이스페이먼츠, KCP 2가지 PG설정이 되어있다면, pg 파라메터로 <b>nice</b> 또는 <b>kcp</b>로 구분 가능</li><li>나이스페이먼츠로부터 2개 이상의 상점아이디를 발급받았다면, <b>nice.MID1</b> 또는 <b>nice.MID2</b>로 구분 가능</li></ul>",
            "required": false,
            "type": "string",
            "maxLength": 80,
            "x-portone-name": "PG 구분코드",
            "x-portone-description": "빌링키 발급을 받고자 하는 PG사 구분코드"
          },
          {
            "name": "customer_id",
            "in": "formData",
            "description": "구매자 식별 고유 번호 (필수 : 토스페이먼츠)",
            "required": false,
            "type": "string",
            "x-portone-name": "구매자 ID",
            "x-portone-description": "구매자 식별 고유 번호",
            "x-portone-per-pg": {
              "tosspayments": {
                "required": true,
                "description": "customer_id는 optional이기 때문에 보내지 않아도 동작은 하지만 보내지 않으면\n     (포트원이 빌링키 발급 요청시마다 customer_id에 uuid값을 채번하기 때문에)\n    구매자와 결제수단은 매칭되지 않으니 유념하시기 바랍니다."
              }
            }
          },
          {
            "name": "card_number",
            "in": "formData",
            "description": "카드번호(dddd-dddd-dddd-dddd)",
            "required": true,
            "type": "string",
            "x-portone-name": "카드번호",
            "x-portone-description": "빌링키 발급 하고자 하는 카드의 번호(`dddd-dddd-dddd-dddd`)"
          },
          {
            "name": "expiry",
            "in": "formData",
            "description": "카드 유효기간(YYYY-MM)",
            "required": true,
            "type": "string",
            "x-portone-name": "카드 유효기간",
            "x-portone-description": "빌링키 발급 하고자 하는 카드 유효기간(`YYYY-MM`)"
          },
          {
            "name": "birth",
            "in": "formData",
            "description": "생년월일6자리(법인카드의 경우 사업자등록번호10자리)<br> PG사별로 혹은 계약상황에따라 필수값 여부가 상이합니다.",
            "required": false,
            "type": "string",
            "x-portone-name": "생년월일",
            "x-portone-summary": "생년월일6자리",
            "x-portone-description": "법인카드의 경우 사업자등록번호10자리\n\nPG사별로 혹은 계약상황에따라 필수값 여부가 상이합니다.",
            "x-portone-per-pg": {
              "ksnet": {
                "required": true
              }
            }
          },
          {
            "name": "pwd_2digit",
            "in": "formData",
            "description": "카드비밀번호 앞 2자리로 PG사별로 혹은 계약상황에 따라 필수값 여부가 상이합니다.",
            "required": false,
            "type": "string",
            "x-portone-name": "카드비밀번호 앞 2자리",
            "x-portone-summary": "빌링키 발급 하고자 하는 카드비밀번호 앞 2자리",
            "x-portone-description": "PG사별 혹은 계약상황에 따라 필수값 여부가 상이합니다.",
            "x-portone-per-pg": {
              "ksnet": {
                "required": true
              }
            }
          },
          {
            "name": "cvc",
            "in": "formData",
            "description": "카드 인증번호 (카드 뒷면 3자리, AMEX의 경우 4자리). Paymentwall에서만 사용",
            "required": false,
            "type": "string",
            "x-portone-name": "카드 인증번호",
            "x-portone-description": "빌링키 발급 받고자 하는 카드 카드 뒷면 3자리, AMEX의 경우 4자리",
            "x-portone-supported-pgs": [
              "paymentwall"
            ],
            "x-portone-per-pg": {
              "paymentwall": {
                "required": true
              }
            }
          },
          {
            "name": "customer_name",
            "in": "formData",
            "description": "고객(카드소지자) 관리용 성함",
            "required": false,
            "type": "string",
            "maxLength": 20,
            "x-portone-name": "카드소유자명",
            "x-portone-description": "고객(카드소지자) 관리용 성함",
            "x-portone-per-pg": {
              "welcome": {
                "required": true
              }
            }
          },
          {
            "name": "customer_tel",
            "in": "formData",
            "description": "고객(카드소지자) 전화번호",
            "required": false,
            "type": "string",
            "maxLength": 20,
            "x-portone-name": "카드소유자 연락처",
            "x-portone-description": "고객(카드소지자) 전화번호"
          },
          {
            "name": "customer_email",
            "in": "formData",
            "description": "고객(카드소지자) Email",
            "required": false,
            "type": "string",
            "maxLength": 200,
            "x-portone-name": "카드소유자 이메일주소",
            "x-portone-description": "고객(카드소지자) Email"
          },
          {
            "name": "customer_addr",
            "in": "formData",
            "description": "고객(카드소지자) 주소",
            "required": false,
            "type": "string",
            "maxLength": 200,
            "x-portone-name": "카드소유자 주소",
            "x-portone-description": "고객(카드소지자) 주소"
          },
          {
            "name": "customer_postcode",
            "in": "formData",
            "description": "고객(카드소지자) 우편번호",
            "required": false,
            "type": "string",
            "maxLength": 8,
            "x-portone-name": "카드소유자 우편번호",
            "x-portone-description": "고객(카드소지자) 우편번호"
          },
          {
            "name": "channel_group_id",
            "in": "formData",
            "description": "<ul><li>관리자 콘솔의 [연동관리] -> [스마트 라우팅] 메뉴에서 확인할 수 있습니다.</li> <li> 스마트 라우팅 그룹 ID를 지정하여 결제를 요청하면, 스마트 라우팅 그룹 내 활성화 된 모든 채널로 빌링키 발급 요청을 합니다. <br>이때, pg 파라메터는 무시됩니다.</li></ul>",
            "required": false,
            "type": "string",
            "maxLength": 55,
            "x-portone-name": "스마트 라우팅 그룹 ID",
            "x-portone-description": "스마트 라우팅 그룹 내 활성화 된 모든 채널로 빌링키 발급 요청을 합니다."
          }
        ],
        "responses": {
          "200": {
            "description": "정상 등록 시, 일반 빌링키 발급은 CustomerResponse를 반환하며, channel_group_id를 이용한 슈퍼 빌링키 발급은 SuperBillingKeyResponse를 반환합니다.",
            "schema": {
              "properties": {
                "CustomerResponse": {
                  "$ref": "#/definitions/CustomerResponse"
                },
                "SuperBillingKeyResponse": {
                  "$ref": "#/definitions/SuperBillingKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          }
        },
        "x-portone-supported-pgs": [
          "nice",
          "kcp",
          "daou",
          "html5_inicis",
          "tosspayments",
          "ksnet",
          "nice_v2",
          "welcome"
        ],
        "x-portone-category": "billingkey"
      },
      "delete": {
        "tags": [
          "subscribe.customer"
        ],
        "summary": "빌링키 삭제 API",
        "description": "구매자의 빌링키 정보 삭제<br> 빌링키 삭제시 결제예약된 내역이 존재하는지 반드시 확인하셔야 합니다. <br> 삭제된 빌링키는 복구할 수 없습니다.",
        "operationId": "customer_delete",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customer_uid",
            "in": "path",
            "description": "빌링키와 매핑되며 고객사에서 채번하는 구매자의 결제 수단 식별 고유번호",
            "required": true,
            "type": "string",
            "default": "customer_1234",
            "x-portone-name": "구매자의 결제 수단 식별 고유번호",
            "x-portone-description": "빌링키와 매핑되며 고객사에서 채번하는 구매자의 결제 수단 식별 고유번호"
          },
          {
            "name": "reason",
            "in": "query",
            "description": "삭제사유",
            "required": false,
            "type": "string",
            "x-portone-name": "삭제 사유",
            "x-portone-description": "빌링키를 삭제하려는 사유"
          },
          {
            "name": "extra[requester]",
            "in": "query",
            "description": "삭제 요청자(네이버페이에서만 사용)",
            "required": false,
            "type": "string",
            "default": "admin",
            "x-portone-name": "삭제 요청자",
            "x-portone-description": "빌링키 삭제 요청자",
            "x-portone-supported-pgs": [
              "naverpay"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "정상 삭제 시, 일반 빌링키 삭제는 CustomerResponse를 반환하며, 슈퍼 빌링키 삭제는 SuperBillingKeyResponse를 반환합니다.",
            "schema": {
              "properties": {
                "CustomerResponse": {
                  "$ref": "#/definitions/CustomerResponse"
                },
                "SuperBillingKeyResponse": {
                  "$ref": "#/definitions/SuperBillingKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          },
          "404": {
            "description": "유효하지 않은 customer_uid"
          }
        },
        "x-portone-supported-pgs": [
          "chai",
          "danal",
          "danal_tpay",
          "daou",
          "html5_inicis",
          "inicis",
          "kakaopay",
          "kcp",
          "kcp_billing",
          "kicc",
          "ksnet",
          "mobilians",
          "naverpay",
          "nice",
          "payco",
          "paymentwall",
          "settle",
          "settle_acc",
          "settle_firm",
          "smartro_v2",
          "tosspayments",
          "paypal_v2",
          "nice_v2",
          "welcome",
          "tosspay_v2"
        ],
        "x-portone-category": "billingkey"
      }
    },
    "/subscribe/customers/{customer_uid}/payments": {
      "get": {
        "tags": [
          "subscribe.customer"
        ],
        "summary": "빌링키 결제 복수조회 API (빌링키 결제 내역 확인)",
        "description": "구매자의 빌링키로 결제된 결제목록을 조회합니다.",
        "operationId": "customer_payments",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customer_uid",
            "in": "path",
            "description": "빌링키와 매핑되며 고객사에서 채번하는 구매자의 결제 수단 식별 고유번호",
            "required": true,
            "type": "string",
            "default": "customer_1234",
            "x-portone-name": "구매자의 결제 수단 식별 고유번호",
            "x-portone-description": "빌링키와 매핑되며 고객사에서 채번하는 구매자의 결제 수단 식별 고유번호"
          },
          {
            "name": "page",
            "in": "query",
            "description": "조회목록 페이징. 1부터 시작",
            "required": false,
            "type": "integer",
            "default": "1",
            "x-portone-name": "조회목록 페이징",
            "x-portone-description": "조회목록 페이징으로 기본값은 1입니다."
          }
        ],
        "responses": {
          "200": {
            "description": "정상 조회",
            "schema": {
              "$ref": "#/definitions/PaymentListResponse"
            }
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          },
          "404": {
            "description": "유효하지 않은 customer_uid"
          }
        },
        "x-portone-supported-pgs": [
          "chai",
          "danal",
          "danal_tpay",
          "daou",
          "html5_inicis",
          "inicis",
          "kakaopay",
          "kcp",
          "kcp_billing",
          "kicc",
          "ksnet",
          "mobilians",
          "naverpay",
          "nice",
          "payco",
          "paymentwall",
          "settle",
          "settle_acc",
          "settle_firm",
          "smartro_v2",
          "tosspayments",
          "paypal_v2",
          "nice_v2",
          "welcome",
          "tosspay_v2"
        ],
        "x-portone-category": "billingkey"
      }
    },
    "/subscribe/customers/{customer_uid}/schedules": {
      "get": {
        "tags": [
          "subscribe.customer"
        ],
        "summary": "빌링키 결제예약 조회 API",
        "description": "결제예약 복수조회(빌키) API와 동일한 동작을 하는 API입니다.<br><br>customer_uid별 결제예약목록을 조회할 수 있습니다. 결제예약정보가 (페이징된)목록으로 전달되며, 최대 3개월 단위로 조회가 가능합니다.<br><br>결제예약정보가 예약된 시각 기준으로 최신순으로 정렬되어 전달됩니다.",
        "operationId": "findSchedulesByCustomer",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customer_uid",
            "in": "path",
            "description": "결제예약에 사용된 구매자의 결제 수단 식별 고유번호",
            "required": true,
            "type": "string",
            "x-portone-name": "구매자의 결제 수단 식별 고유번호",
            "x-portone-description": "결제예약에 사용된 구매자의 결제 수단 식별 고유번호"
          },
          {
            "name": "page",
            "in": "query",
            "description": "조회목록 페이징. <br>1부터 시작하며, 기본값은 1입니다.",
            "required": false,
            "type": "integer",
            "x-portone-name": "조회목록 페이징",
            "x-portone-description": "조회목록 페이징으로 기본값은 1입니다."
          },
          {
            "name": "from",
            "in": "query",
            "description": "조회 시작시각 <br>unix timestamp(결제예약건의 '예약시각'기준으로 조회합니다. from <= '예약시각')",
            "required": true,
            "type": "integer",
            "x-portone-name": "조회 시작시각",
            "x-portone-description": "unix timestamp(결제예약건의 '예약시각'기준으로 조회합니다. from <= '예약시각')"
          },
          {
            "name": "to",
            "in": "query",
            "description": "조회 종료시각 <br>unix timestamp(결제예약건의 '예약시각'기준으로 조회합니다. '예약시각' < to)",
            "required": true,
            "type": "integer",
            "x-portone-name": "조회 종료시각",
            "x-portone-description": "unix timestamp(결제예약건의 '예약시각'기준으로 조회합니다. '예약시각' < to)"
          },
          {
            "name": "schedule-status",
            "in": "query",
            "description": "예약상태. 누락되면 모든 상태의 예약내역 조회\n                            <ul> <li>scheduled: 예약됨(실행되기 전)</li>\n                            <li>executed: 예약된 결제실행완료</li>\n                            <li>revoked: 예약철회</li></ul>",
            "required": false,
            "type": "string",
            "enum": [
              "scheduled",
              "executed",
              "revoked"
            ],
            "x-portone-name": "예약상태",
            "x-portone-description": "조회 하고자 하는 예약 상태"
          }
        ],
        "responses": {
          "200": {
            "description": "결제예약목록 조회완료",
            "schema": {
              "$ref": "#/definitions/ScheduleResponse"
            }
          },
          "400": {
            "description": "검색 파라메터가 유효하지 않은 경우"
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          }
        },
        "x-portone-supported-pgs": [
          "chai",
          "danal",
          "danal_tpay",
          "daou",
          "html5_inicis",
          "inicis",
          "kakaopay",
          "kcp",
          "kcp_billing",
          "kicc",
          "ksnet",
          "mobilians",
          "naverpay",
          "nice",
          "payco",
          "paymentwall",
          "settle",
          "settle_acc",
          "settle_firm",
          "smartro_v2",
          "tosspayments",
          "paypal_v2",
          "nice_v2",
          "welcome",
          "tosspay_v2"
        ],
        "x-portone-category": "billingkey"
      }
    },
    "/cvs": {
      "post": {
        "tags": [
          "cvs"
        ],
        "summary": "수납번호 발급 API",
        "description": "편의점결제를 위한 수납번호(barcode)를 사전 발급 또는 등록합니다. 고객은 발급 또는 등록된 수납번호(barcode)에 해당되는 바코드 이미지 또는 수납번호를 편의점 방문시 제시함으로써 현장 결제가 이뤄지게 됩니다.",
        "operationId": "issueCvsPayment",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "channel_key",
            "in": "formData",
            "description": "편의점결제 수납번호 발급 시 사용할 채널의 채널키",
            "required": true,
            "type": "string"
          },
          {
            "name": "merchant_uid",
            "in": "formData",
            "description": "고객사 주문번호<br>\n     이미 결제가 이뤄진 적이 있는 merchant_uid로는 추가적인 편의점결제 수납번호(barcode) 발급 또는 등록이 불가능합니다.",
            "required": true,
            "type": "string",
            "maxLength": 40,
            "x-portone-name": "고객사 주문번호",
            "x-portone-summary": "고객사 거래 고유번호",
            "x-portone-description": "이미 결제가 이뤄진 적이 있는 merchant_uid로는 추가적인 편의점결제 수납번호(barcode) 발급 또는 등록이 불가능합니다."
          },
          {
            "name": "amount",
            "in": "formData",
            "description": "결제금액",
            "required": true,
            "type": "number",
            "x-portone-name": "결제금액",
            "x-portone-description": "결제하고자 하는 금액"
          },
          {
            "name": "barcode",
            "in": "formData",
            "description": "고객사에서 직접 생성, 관리하는 바코드(barcode)번호가 있는 경우, 갤럭시아컴즈로부터 신규 수납번호(barcode)를 발급요청하지 않고 고객사에서 관리하는 바코드(barcode)번호를 등록하여 수납번호로 활용할 수 있습니다.",
            "required": false,
            "type": "string",
            "x-portone-name": "바코드",
            "x-portone-description": "고객사에서 직접 생성, 관리하는 바코드(barcode)번호가 있는 경우, 갤럭시아컴즈로부터 신규 수납번호(barcode)를 발급요청하지 않고 고객사에서 관리하는 바코드(barcode)번호를 등록하여 수납번호로 활용할 수 있습니다."
          },
          {
            "name": "expired_at",
            "in": "formData",
            "description": "편의점 수납가능한 결제기한(Unix Timestamp). 정의하지 않으면 갤럭시아컴즈와 계약시 협의한 기본값이 적용됩니다.",
            "required": false,
            "type": "integer",
            "x-portone-name": "편의점 수납가능한 결제기한",
            "x-portone-description": "편의점 수납가능한 결제기한(Unix Timestamp). 정의하지 않으면 갤럭시아컴즈와 계약시 협의한 기본값이 적용됩니다."
          },
          {
            "name": "name",
            "in": "formData",
            "description": "주문명",
            "required": false,
            "type": "string",
            "maxLength": 40,
            "x-portone-name": "주문명",
            "x-portone-description": "주문명"
          },
          {
            "name": "buyer_name",
            "in": "formData",
            "description": "주문자명",
            "required": false,
            "type": "string",
            "maxLength": 16,
            "x-portone-name": "주문자명",
            "x-portone-description": "주문자의 이름"
          },
          {
            "name": "buyer_email",
            "in": "formData",
            "description": "주문자 Email주소",
            "required": false,
            "type": "string",
            "maxLength": 64,
            "x-portone-name": "주문자 Email 주소",
            "x-portone-description": "주문자 Email 주소"
          },
          {
            "name": "buyer_tel",
            "in": "formData",
            "description": "주문자 전화번호",
            "required": false,
            "type": "string",
            "maxLength": 16,
            "x-portone-name": "주문자 전화번호",
            "x-portone-description": "주문자 전화번호"
          },
          {
            "name": "buyer_addr",
            "in": "formData",
            "description": "주문자 주소",
            "required": false,
            "type": "string",
            "maxLength": 128,
            "x-portone-name": "주문자 주소",
            "x-portone-description": "주문자의 주소"
          },
          {
            "name": "buyer_postcode",
            "in": "formData",
            "description": "주문자 우편번호",
            "required": false,
            "type": "string",
            "maxLength": 8,
            "x-portone-name": "주문자 우편번호",
            "x-portone-description": "주문자의 우편번호"
          },
          {
            "name": "confirm_url",
            "in": "formData",
            "description": "고객이 편의점결제 수납시도 시 수납가능여부를 체크하기 위한 URL<br>\n     설정하지 않은 결제에 대해서는 항상 수납가능으로 간주하고 수납성공진행 됩니다.<br>\n     설정된 결제에 대해서는 해당 URL로 아래와 같은 형식의 데이터가 Webhook(HTTP POST)으로 전송되며 200응답 == 수납가능 / 그 외응답 == 수납불가 처리\n<pre>{\n    event : 'Galaxia.Cvs.Confirm',\n    imp_uid : 'imp_123412341234',\n    merchant_uid : 'asdfasdfasdf',\n    status : 'ready',\n    extra : {\n        barcode : '11222222',\n        payType : 'card' //card or cash\n    }\n}</pre>",
            "required": false,
            "type": "string",
            "x-portone-name": "수납가능여부 체크 URL",
            "x-portone-description": "고객이 편의점결제 수납시도 시 수납가능여부를 체크하기 위한 URL"
          },
          {
            "name": "notice_url",
            "in": "formData",
            "description": "편의점결제 수납성공 시 통지받을 URL<br>\n     선언되지 않으면 포트원 관리자 페이지에 정의된 Notification URL값을 사용",
            "required": false,
            "type": "array",
            "x-portone-name": "Notification URL(Webhook URL)",
            "x-portone-description": "편의점결제 수납성공 시 통지받을 URL"
          },
          {
            "name": "custom_data",
            "in": "formData",
            "description": "결제정보와 함께 저장할 custom_data. 객체로 전달되는 경우 JSON 문자열로 저장",
            "required": false,
            "type": "string",
            "x-portone-name": "추가정보",
            "x-portone-description": "결제정보와 함께 저장할 custom_data. 객체로 전달되는 경우 JSON 문자열로 저장"
          }
        ],
        "responses": {
          "200": {
            "description": "편의점결제 수납번호(barcode) 생성 완료",
            "schema": {
              "$ref": "#/definitions/PaymentResponse"
            }
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          }
        },
        "x-portone-supported-pgs": [
          "galaxia"
        ],
        "x-portone-category": "etc.cvs"
      }
    },
    "/cvs/{imp_uid}": {
      "delete": {
        "tags": [
          "cvs"
        ],
        "summary": "수납취소 API",
        "description": "고객에게 이미 발급/등록된 편의점결제 수납번호(barcode)가 아직 수납 전일 때, 재고소진 등에 상황에 따라 해당 수납번호(barcode)로 결제가 이뤄지지 않도록 말소처리하는 API입니다.",
        "operationId": "revokeCvsPayment",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "imp_uid",
            "in": "path",
            "description": "편의점결제 수납번호(barcode) 발급/등록된 포트원 거래고유번호",
            "required": true,
            "type": "string",
            "x-portone-description": "편의점결제 수납번호(barcode) 발급/등록된 포트원 거래고유번호",
            "x-portone-name": "포트원 거래고유번호"
          }
        ],
        "responses": {
          "200": {
            "description": "편의점결제 수납번호(barcode) 말소 완료",
            "schema": {
              "$ref": "#/definitions/PaymentResponse"
            }
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          }
        },
        "x-portone-supported-pgs": [
          "galaxia"
        ],
        "x-portone-category": "etc.cvs"
      }
    },
    "/escrows/logis/{imp_uid}": {
      "get": {
        "tags": [
          "escrow.logis"
        ],
        "summary": "배송정보 단건조회 API",
        "description": "에스크로 결제 건에 대한 배송정보 조회<br>\n\t 입력한 배송정보를 획득합니다.<br><br>\n\t 택배사 코드표 : https://developers.portone.io/docs/ko/tip/code\n\t <h4>지원되는 PG사</h4>\n\t <ul> <li>KG이니시스</li> <li>NHN KCP</li> <li>키움페이(구 다우, 페이조아)(다우테이타)</li> <li>KSNET</li> <li>스마트로 - 신모듈(PG사와의 사전 계약이 반드시 필요합니다.)</li><li>(신) 나이스페이</li><li>웰컴페이먼츠</li></ul>",
        "operationId": "escrow_logis_get",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "imp_uid",
            "in": "path",
            "description": "포트원 거래고유번호",
            "required": true,
            "type": "string",
            "default": "imp_12345678912",
            "x-portone-name": "포트원 거래고유번호",
            "x-portone-description": "배송정보를 조회하고자 하는 에스크로 결제건의 포트원 거래고유번호"
          }
        ],
        "responses": {
          "200": {
            "description": "정상 조회",
            "schema": {
              "$ref": "#/definitions/EscrowLogisResponse"
            }
          },
          "400": {
            "description": "필수 파라메터가 누락되거나 (PG사별로 필수 여부가 다를 수 있음), 지원하는 않는 PG사인 경우"
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          },
          "404": {
            "description": "배송정보를 조회할 거래건이 존재하지 않음"
          },
          "409": {
            "description": "등록된 배송정보가 존재하지 않습니다."
          },
          "500": {
            "description": "배송정보 조회 도중 오류 발생"
          }
        },
        "x-portone-supported-pgs": [
          "html5_inicis",
          "kcp",
          "daou",
          "ksnet",
          "smartro_v2",
          "nice_v2",
          "welcome"
        ],
        "x-portone-category": "escrow"
      },
      "put": {
        "tags": [
          "escrow.logis"
        ],
        "summary": "배송정보 단건수정 API",
        "description": "에스크로 결제 건에 대해서 PUT /escrows/logis/{imp_uid} 로 등록된 배송정보를 수정하는 API 입니다.(2-depth의 json으로 Request Body가 구성되어야 합니다)<br><br>\n     logis는 하위 필드가 모두 필수입니다.<br>sender, receiver의 각 세부 항목은 PG사마다 필수 여부가 모두 다릅니다.<br><br>\n     <h4>지원되는 PG사</h4>\n     <ul> <li>KG이니시스</li> <li>키움페이(구 다우, 페이조아)(다우테이타)</li> <li>KSNET</li> <li>스마트로 - 신모듈 (PG사와의 사전 계약이 반드시 필요합니다.)</li> <li>웰컴페이먼츠</li></ul>",
        "operationId": "escrow_logis_edit",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "imp_uid",
            "in": "path",
            "description": "포트원 거래고유번호",
            "required": true,
            "type": "string",
            "default": "imp_12345678912",
            "x-portone-name": "포트원 거래고유번호",
            "x-portone-description": "배송정보를 수정하고자 하는 에스크로 결제건의 포트원 거래고유번호"
          },
          {
            "name": "sender",
            "in": "formData",
            "description": "발신자 정보",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EscrowLogisSenderAnnotation"
            },
            "type": "string",
            "x-portone-name": "발신자 정보",
            "x-portone-description": "배송을 보내는 발신자의 정보(**이름, 연락처, 주소, 우편번호, 수신자와의 관계**)"
          },
          {
            "name": "receiver",
            "in": "formData",
            "description": "수신자 정보",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EscrowLogisReceiverAnnotation"
            },
            "type": "string",
            "x-portone-name": "수신자 정보",
            "x-portone-description": "배송을 받는 수신자의 정보(**이름, 연락처, 주소, 우편번호**)"
          },
          {
            "name": "logis",
            "in": "formData",
            "description": "배송정보<br>택배사코드표는 <a href=\"https://developers.portone.io/docs/ko/tip/code\">메뉴얼</a> 참조",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EscrowLogisInfoAnnotation"
            },
            "type": "string",
            "x-portone-name": "배송정보",
            "x-portone-description": "택배사코드표는 [메뉴얼](https://developers.portone.io/docs/ko/tip/code) 참조"
          },
          {
            "name": "products",
            "in": "formData",
            "description": "배송 상품 정보 (필수 : 웰컴페이먼츠)",
            "required": false,
            "type": "array",
            "items": {
              "$ref": "#/definitions/EscrowLogisProductsAnnotation"
            },
            "collectionFormat": "multi",
            "x-portone-name": "배송 상품 정보",
            "x-portone-description": "배송 보내는 상품의 정보 **(고유 아이디, 이름, 고유 코드, 통화코드, 수량, 카테고리)**",
            "x-portone-supported-pgs": [
              "welcome"
            ],
            "x-portone-per-pg": {
              "welcome": {
                "required": true
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "수정 완료",
            "schema": {
              "$ref": "#/definitions/EscrowLogisResponse"
            }
          },
          "400": {
            "description": "필수 파라메터가 누락되거나 (PG사별로 필수 여부가 다를 수 있음), 지원하는 않는 PG사인 경우"
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          },
          "404": {
            "description": "배송정보를 수정할 거래건이 존재하지 않음"
          },
          "405": {
            "description": "POST요청이 아닌 경우"
          },
          "409": {
            "description": "해당거래건은 배송정보를 수정할 수 없는 경우"
          },
          "500": {
            "description": "배송정보 수정 도중 오류 발생"
          }
        },
        "x-portone-supported-pgs": [
          "html5_inicis",
          "kcp",
          "daou",
          "ksnet",
          "smartro_v2",
          "welcome"
        ],
        "x-portone-category": "escrow"
      },
      "post": {
        "tags": [
          "escrow.logis"
        ],
        "summary": "배송정보 단건등록 API",
        "description": "에스크로 결제 건에 대한 배송정보 등록(2-depth의 json으로 Request Body가 구성되어야 합니다)<br><br>\n     logis는 하위 필드가 모두 필수입니다.<br>sender, receiver의 각 세부 항목은 PG사마다 필수 여부가 모두 다릅니다.<br><br>\n     <h4>지원되는 PG사</h4><ul> <li>KG이니시스</li> <li>NHN KCP</li> <li>키움페이(구 다우, 페이조아)(다우테이타)</li> <li>KSNET</li>  <li>스마트로 - 신모듈(PG사와의 사전 계약이 반드시 필요합니다.)</li><li>(신) 나이스페이</li><li>웰컴페이먼츠</li></ul>",
        "operationId": "escrow_logis_save",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "imp_uid",
            "in": "path",
            "description": "포트원 거래고유번호",
            "required": true,
            "type": "string",
            "default": "imp_12345678912",
            "x-portone-name": "포트원 거래고유번호",
            "x-portone-description": "배송정보를 등록하고자 하는 에스크로 결제건의 포트원 거래고유번호"
          },
          {
            "name": "sender",
            "in": "formData",
            "description": "발신자 정보",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EscrowLogisSenderAnnotation"
            },
            "type": "string",
            "x-portone-name": "발신자 정보",
            "x-portone-description": "배송을 보내는 발신자의 정보(**이름, 연락처, 주소, 우편번호, 발신자와의 관계**)"
          },
          {
            "name": "receiver",
            "in": "formData",
            "description": "수신자 정보",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EscrowLogisReceiverAnnotation"
            },
            "type": "string",
            "x-portone-name": "수신자 정보",
            "x-portone-description": "배송을 받는 수신자의 정보(**이름, 연락처, 주소, 우편번호**)"
          },
          {
            "name": "logis",
            "in": "formData",
            "description": "배송정보<br>택배사코드표는 <a href=\"https://developers.portone.io/docs/ko/tip/code\">메뉴얼</a> 참조",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EscrowLogisInfoAnnotation"
            },
            "type": "string",
            "x-portone-name": "배송정보",
            "x-portone-description": "택배사코드표는 [매뉴얼](https://developers.portone.io/docs/ko/tip/code) 참조"
          },
          {
            "name": "products",
            "in": "formData",
            "description": "배송 상품 정보 (필수 : 웰컴페이먼츠)",
            "required": false,
            "type": "array",
            "items": {
              "$ref": "#/definitions/EscrowLogisProductsAnnotation"
            },
            "collectionFormat": "multi",
            "x-portone-name": "배송 상품 정보",
            "x-portone-description": "배송 보내는 상품의 정보(고유 아이디, 이름, 고유 코드, 통화코드, 수량, 카테고리)",
            "x-portone-supported-pgs": [
              "welcome"
            ],
            "x-portone-per-pg": {
              "welcome": {
                "required": true
              }
            }
          },
          {
            "name": "send_email",
            "in": "formData",
            "description": "에스크로 구매 확정시 결제 창에 입력했던 이메일로 해당 사실을 전송할지 여부(기본값: true)",
            "required": false,
            "type": "boolean",
            "default": true,
            "x-portone-name": "구매확정 시 Email 전송여부",
            "x-portone-description": "에스크로 구매 확정시 결제 창에 입력했던 이메일로 해당 사실을 전송할지 여부 (기본값 : **true**)",
            "x-portone-supported-pgs": [
              "nice_v2"
            ],
            "x-portone-per-pg": {
              "nice_v2": {
                "description": "에스크로 결제건에 대해 배송 정보 등록 API 호출 시 `send_email` 파라미터를 이용하여\n     구매 확정됐을 때 결제창에 입력한 이메일로 구매 확정 내용을 전송할지 여부를 제어할 수 있습니다. 기본 값은 true(구매 확정 여부 이메일 전송)이며 false로 입력 시 구매가 확정되어도 이메일로 안내되지 않습니다."
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "등록 완료",
            "schema": {
              "$ref": "#/definitions/EscrowLogisResponse"
            }
          },
          "400": {
            "description": "필수 파라메터가 누락되거나 (PG사별로 필수 여부가 다를 수 있음), 지원하는 않는 PG사인 경우"
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          },
          "404": {
            "description": "배송정보를 등록할 거래건이 존재하지 않음"
          },
          "405": {
            "description": "POST요청이 아닌 경우"
          },
          "409": {
            "description": "이미 배송정보 등록이 완료됨, 해당거래건은 배송정보를 등록할 수 없는경우"
          },
          "500": {
            "description": "배송정보 등록 도중 오류 발생"
          }
        },
        "x-portone-supported-pgs": [
          "html5_inicis",
          "kcp",
          "daou",
          "ksnet",
          "smartro_v2",
          "nice_v2",
          "welcome"
        ],
        "x-portone-category": "escrow",
        "x-portone-per-pg": {
          "ksnet": {
            "description": "KSNET에서 일반 에스크로, 배송 에스크로 두 가지 유형의 에스크로를 제공합니다. 포트원을 통해 KSNET 에스크로를 사용하려는 경우 반드시 **배송 에스크로** 설정이 되어 있어야 합니다.\n\n또한 에스크로 거래는 30분 ~ 1시간 뒤 [ksta.ksnet.co.kr](https://ksta.ksnet.co.kr/ui/tsk/ath01/cob/athcob01m0.jsp) -> PG 거래내역 -> 배송 에스크로 거래조회에서 확인이 가능합니다. 에스크로 정보 수정의 경우도 등록이 완료된 이후부터 가능합니다."
          },
          "nice_V2": {
            "description": "API로 에스크로 배송 정보 등록은 가능하지만 PUT 배송정보 단건수정 API로 수정은 <span style='color:red'>불가능</span>합니다."
          }
        }
      }
    },
    "/kcpquick/members/{member_id}": {
      "delete": {
        "tags": [
          "kcpquick"
        ],
        "summary": "(KCP 퀵페이) 구매자 정보 단건 삭제 API",
        "description": "구매자의 KCP 퀵페이 정보 삭제합니다. <br>(KCP 퀵페이 정보를 DB에서 물리적삭제 합니다) <br>\n                        <b>Accept 설정 필수</b>\n                        <br>http header 에 아래와 같이 Accept 를 설정하셔야 합니다.\n                        <br>Accept : application/json",
        "operationId": "member_delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "member_id",
            "in": "path",
            "description": "구매자 고유 아이디(memberID)",
            "required": true,
            "type": "string",
            "default": "memberID",
            "x-portone-name": "구매자 고유 아이디",
            "x-portone-description": "삭제 하고자 하는 구매자 고유 아이디(memberID)"
          },
          {
            "name": "site_code",
            "in": "query",
            "description": "KCP 퀵페이 등록 시 사용한 사이트 코드(SITE CD).",
            "required": true,
            "type": "string",
            "default": "IX0XX",
            "maxLength": 80,
            "x-portone-name": "사이트 코드",
            "x-portone-description": "KCP 퀵페이 등록 시 사용한 사이트 코드(SITE CD)"
          },
          {
            "name": "partner_type",
            "in": "query",
            "description": "KCP 퀵페이 등록 시 사용한 파트너 타입.",
            "required": true,
            "type": "string",
            "default": "IX99",
            "maxLength": 80,
            "x-portone-name": "파트너 타입",
            "x-portone-description": "KCP 퀵페이 등록 시 사용한 파트너 타입"
          },
          {
            "name": "partner_subtype",
            "in": "query",
            "description": "KCP 퀵페이 등록 시 사용한 파트너 서브타입.",
            "required": true,
            "type": "string",
            "default": "99IX",
            "maxLength": 80,
            "x-portone-name": "파트너 서브타입",
            "x-portone-description": "KCP 퀵페이 등록 시 사용한 파트너 서브타입"
          }
        ],
        "responses": {
          "200": {
            "description": "정상 삭제",
            "schema": {
              "$ref": "#/definitions/KcpQuickMemberResponse"
            }
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          },
          "404": {
            "description": "유효하지 않은 member_id"
          }
        },
        "x-portone-supported-pgs": [
          "kcp_quick"
        ],
        "x-portone-category": "pg.kcpquick"
      }
    },
    "/kcpquick/payment/money": {
      "post": {
        "tags": [
          "kcpquick"
        ],
        "summary": "KCP 선불머니 결제 API",
        "description": "",
        "operationId": "payWithMoney",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "member_id",
            "in": "formData",
            "description": "KCP 간편결제 유저 아이디",
            "required": true,
            "type": "string",
            "default": "member_id",
            "maxLength": "16",
            "x-portone-name": "KCP 퀵페이, 선불머니 서비스 유저 아이디",
            "x-portone-description": "결제를 진행할 KCP 선불머니 결제서비스 유저 아이디"
          },
          {
            "name": "channel_key",
            "in": "formData",
            "description": "KCP 선불머니 결제 시 사용할 채널의 채널키",
            "required": true,
            "type": "string",
            "x-portone-name": "채널키",
            "x-portone-description": "KCP 선불머니 결제 시 사용할 채널의 채널키"
          },
          {
            "name": "merchant_uid",
            "in": "formData",
            "description": "결제 요청할 거래의 고객사 주문번호",
            "required": true,
            "type": "string",
            "maxLength": 40,
            "x-portone-name": "고객사 주문번호",
            "x-portone-description": "결제 요청할 거래의 고객사 주문번호"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "결제 요청할 거래의 주문명",
            "required": true,
            "type": "string",
            "maxLength": 40,
            "x-portone-name": "주문명",
            "x-portone-description": "결제 요청할 거래의 주문명"
          },
          {
            "name": "amount",
            "in": "formData",
            "description": "결제 요청할 금액",
            "required": true,
            "type": "integer",
            "x-portone-name": "결제금액",
            "x-portone-description": "결제 요청할 금액"
          },
          {
            "name": "notice_url",
            "in": "formData",
            "description": "결제 승인 성공 후 결과를 수신할 웹훅 URL",
            "required": false,
            "type": "string",
            "x-portone-name": "결제 결과 수신 웹훅 URL",
            "x-portone-description": "결제 승인 성공 후 결과를 수신할 웹훅 URL"
          }
        ],
        "responses": {
          "200": {
            "description": "응답",
            "schema": {
              "$ref": "#/definitions/PaymentResponse"
            }
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          }
        },
        "x-portone-supported-pgs": [
          "kcp_quick"
        ],
        "x-portone-category": "pg.kcpquick"
      }
    },
    "/payments/{imp_uid}/naver/cancel": {
      "post": {
        "tags": [
          "naver"
        ],
        "summary": "(주문형-네이버페이) 네이버페이 주문환불 API",
        "description": "(주문형-네이버페이) 네이버페이 상품주문들을 환불처리합니다.<br> 주문상품의 종류가 여러 개인 경우, 한 건의 포트원 거래건(imp_uid)에 여러 개의 네이버페이 상품주문이 존재하며 일부 또는 전체를 환불처리할 수 있습니다.\n     시도된 상품주문 중 <b>환불처리에 성공한 상품주문</b>에 대한 최종 정보만 제공됩니다.",
        "operationId": "naverCancelProductOrder",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "imp_uid",
            "in": "path",
            "description": "네이버페이 환불할 거래건의 포트원 거래고유번호",
            "required": true,
            "type": "string",
            "x-portone-name": "포트원 거래고유번호",
            "x-portone-description": "네이버페이 환불할 거래건의 포트원 거래고유번호"
          },
          {
            "name": "product_order_id",
            "in": "formData",
            "description": "네이버페이 환불할 거래건의 네이버페이 상품주문번호로 생략되면 imp_uid 에 해당되는 모든 상품주문을 환불합니다.",
            "required": false,
            "type": "array",
            "items": "string",
            "x-portone-name": "환불할 거래건의 네이버페이 상품주문번호",
            "x-portone-description": "네이버페이 환불할 거래건의 네이버페이 상품주문번호로 생략되면 imp_uid 에 해당되는 모든 상품주문을 환불합니다."
          },
          {
            "name": "reason",
            "in": "formData",
            "description": "취소 사유 코드. 올바르지 않은 코드인 경우 기본값(PRODUCT_UNSATISFIED)을 적용합니다.\n     <h4>reason (환불사유코드)</h4><ul>\n     <li>SOLD_OUT : 상품 품절</li>\n     <li>DELAYED_DELIVERY : 배송 지연</li>\n     <li>PRODUCT_UNSATISFIED : 서비스 및 상품 불만족</li>\n     <li>INTENT_CHANGED : 구매 의사 취소</li>\n     <li>COLOR_AND_SIZE : 색상 및 사이즈 변경</li>\n     <li>WRONG_ORDER : 다른 상품 잘못 주문</li>\n     <li>INCORRECT_INFO : 상품 정보 상이</li> </ul>",
            "required": false,
            "type": "string",
            "default": "PRODUCT_UNSATISFIED",
            "enum": [
              "SOLD_OUT",
              "DELAYED_DELIVERY",
              "PRODUCT_UNSATISFIED",
              "INTENT_CHANGED",
              "COLOR_AND_SIZE",
              "WRONG_ORDER",
              "INCORRECT_INFO"
            ],
            "x-portone-name": "취소 사유 코드",
            "x-portone-description": "취소 사유 코드로 올바르지 않은 코드인 경우 기본값(`PRODUCT_UNSATISFIED`)을 적용합니다."
          }
        ],
        "responses": {
          "200": {
            "description": "모든주문환불성공",
            "schema": {
              "$ref": "#/definitions/NaverProductOrderArrayResponse"
            }
          },
          "207": {
            "description": "일부주문 환불성공 & 일부주문 환불실패<br>네이버페이에 환불요청시 product_order_id 개별로 환불요청이 진행되어야 합니다. 일부 건만 성공하는 경우 207 응답이 내려갑니다. (모두 성공인 경우 200응답 / 모두 실패인 경우 500응답)",
            "schema": {
              "$ref": "#/definitions/NaverProductOrderArrayResponse"
            }
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          },
          "404": {
            "description": "imp_uid에 해당되는 거래건을 찾을 수 없거나 접근 권한이 없는 계정인 경우"
          },
          "500": {
            "description": "모든주문 환불실패"
          }
        },
        "x-portone-supported-pgs": [
          "naverco"
        ],
        "x-portone-category": "pg.naverpay"
      }
    },
    "/payments/{imp_uid}/naver/approve-cancel": {
      "post": {
        "tags": [
          "naver"
        ],
        "summary": "(주문형-네이버페이) 구매자의 환불요청 승인처리 API",
        "description": "네이버페이 주문형 구매자가 환불요청한 상품주문들을 환불승인처리합니다. 상품발주처리 중 구매자의 환불요청이 있는 경우, 최종 환불처리를 위해서는 판매자의 승인이 필요하므로 본 API 를 사용하셔야 합니다.<br>\n             주문상품의 종류가 여러 개인 경우, 한 건의 포트원 거래고유번호(imp_uid)에 여러 개의 네이버페이 상품주문이 존재하며 일부 또는 전체를 환불승인처리할 수 있습니다.\n             시도된 상품주문 중 <b>환불승인처리에 성공한 상품주문</b>에 대한 최종 정보만 제공됩니다.",
        "operationId": "naverApproveCancelProductOrder",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "imp_uid",
            "in": "path",
            "description": "네이버페이 환불승인할 거래건의 포트원 거래고유번호",
            "required": true,
            "type": "string",
            "x-portone-name": "포트원 거래고유번호",
            "x-portone-description": "네이버페이 환불승인할 거래건의 포트원 거래고유번호"
          },
          {
            "name": "product_order_id",
            "in": "formData",
            "description": "환불승인할 거래건의 네이버페이 상품주문번호. <br>생략되면 imp_uid 에 해당되는 모든 상품주문을 환불승인합니다.",
            "required": false,
            "type": "array",
            "items": "string",
            "x-portone-name": "환불승인할 거래건의 네이버페이 상품주문번호",
            "x-portone-description": "환불승인할 거래건의 네이버페이 상품주문번호로 생략되면 imp_uid 에 해당되는 모든 상품주문을 환불승인합니다."
          }
        ],
        "responses": {
          "200": {
            "description": "주문환불승인성공",
            "schema": {
              "$ref": "#/definitions/NaverProductOrderArrayResponse"
            }
          },
          "207": {
            "description": "일부주문 환불승인성공 & 일부주문 환불승인실패<br>포트원에서 네이버페이에 환불승인요청시 product_order_id 개별로 환불승인요청이 진행되어야 합니다. 일부 건만 성공하는 경우 207 응답이 내려갑니다. (모두 성공인 경우 200응답 / 모두 실패인 경우 500응답)",
            "schema": {
              "$ref": "#/definitions/NaverProductOrderArrayResponse"
            }
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          },
          "404": {
            "description": "imp_uid에 해당되는 거래건을 찾을 수 없거나 접근 권한이 없는 계정인 경우"
          },
          "500": {
            "description": "모든주문 환불승인실패"
          }
        },
        "x-portone-supported-pgs": [
          "naverco"
        ],
        "x-portone-category": "pg.naverpay"
      }
    },
    "/payments/{imp_uid}/naver/ship": {
      "post": {
        "tags": [
          "naver"
        ],
        "summary": "(주문형-네이버페이) 상품주문 발송처리 API",
        "description": "(주문형-네이버페이) 네이버페이 상품주문들을 발송처리합니다. <br>\n     주문상품의 종류가 여러 개인 경우, 한 건의 포트원 거래건(imp_uid)에 여러 개의 네이버페이 상품주문이 존재하며 일부 또는 전체를 발송처리할 수 있습니다.\n     시도된 상품주문 중 <b>발송처리에 성공한 상품주문</b>에 대한 최종 정보만 제공됩니다.",
        "operationId": "naverShipProductOrder",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "imp_uid",
            "in": "path",
            "description": "네이버페이 발송처리할 거래건의 포트원 거래고유번호",
            "required": true,
            "type": "string",
            "x-portone-name": "포트원 거래고유번호",
            "x-portone-description": "네이버페이 발송처리할 거래건의 포트원 거래고유번호"
          },
          {
            "name": "product_order_id",
            "in": "formData",
            "description": "발송처리할 거래건의 네이버페이 상품주문번호. 생략되면 imp_uid 에 해당되는 모든 상품주문을 발송처리합니다.",
            "required": false,
            "type": "array",
            "items": "string",
            "x-portone-name": "발송처리할 거래건의 네이버페이 상품주문번호",
            "x-portone-description": "발송처리할 거래건의 네이버페이 상품주문번호로 생략되면 imp_uid 에 해당되는 모든 상품주문을 발송처리합니다."
          },
          {
            "name": "delivery_method",
            "in": "formData",
            "description": "배송방법 코드\n     <h4>delivery_method (배송방법코드)</h4><ul>\n     <li>DELIVERY : 택배, 등기, 소포</li>\n     <li>GDFW_ISSUE_SVC : 굿스플로 송장 출력</li>\n     <li>VISIT_RECEIPT : 방문 수령</li>\n     <li>DIRECT_DELIVERY : 직접 전달</li>\n     <li>QUICK_SVC : 퀵서비스</li><li>NOTHING : 배송 없음</li></ul>",
            "required": true,
            "type": "string",
            "enum": [
              "DELIVERY",
              "GDFW_ISSUE_SVC",
              "VISIT_RECEIPT",
              "DIRECT_DELIVERY",
              "QUICK_SVC",
              "NOTHING"
            ],
            "x-portone-name": "배송방법 코드",
            "x-portone-description": "배송방법을 나타내는 코드"
          },
          {
            "name": "dispatched_at",
            "in": "formData",
            "description": "발송일 unix timestamp",
            "required": true,
            "type": "integer",
            "x-portone-name": "발송일",
            "x-portone-description": "발송일 (unix timestamp)"
          },
          {
            "name": "delivery_company",
            "in": "formData",
            "description": "택배사 코드(delivery_method == 'DELIVERY' 인 경우 필수 파라메터)\n     <h4>delivery_company (택배사 코드)</h4><ul>\n     <li>CJGLS : CJ 대한통운</li><li>KGB : 로젠택배</li>\n     <li>DONGBU : KG 로지스</li><li>EPOST : 우체국택배</li>\n     <li>REGISTPOST : 우편등기</li><li>HANJIN : 한진택배</li>\n     <li>HYUNDAI : 현대택배</li><li>KGBLS : KGB 택배</li>\n     <li>INNOGIS : GTX 로지스</li><li>DAESIN : 대신택배</li>\n     <li>ILYANG : 일양로지스</li><li>KDEXP : 경동택배</li>\n     <li>CHUNIL : 천일택배</li><li>CH1 : 기타 택배</li>\n     <li>HDEXP : 합동택배</li><li>CVSNET : 편의점택배</li>\n     <li>DHL : DHL</li> <li>FEDEX : FEDEX</li>\n     <li>GSMNTON : GSMNTON</li> <li>WARPEX : WarpEx</li>\n     <li>WIZWA : WIZWA</li> <li>EMS : EMS</li>\n     <li>DHLDE : DHL(독일)</li> <li>ACIEXPRESS : ACI</li>\n     <li>EZUSA : EZUSA</li> <li>PANTOS : 범한판토스</li>\n     <li>UPS : UPS</li> <li>HLCGLOBAL : 현대택배(국제택배)</li>\n     <li>KOREXG : CJ 대한통운(국제택배)</li> <li>TNT : TNT</li>\n     <li>SWGEXP : 성원글로벌</li> <li>DAEWOON : 대운글로벌</li>\n     <li>USPS : USPS</li> <li>IPARCEL : i-parcel</li>\n     <li>KUNYOUNG : 건영택배</li> <li>HPL : 한의사랑택배</li>\n     <li>DADREAM : 다드림</li> <li>SLX : SLX 택배</li>\n     <li>SFEXPRESS : 순풍택배</li> <li>HONAM : 호남택배</li></ul>",
            "required": false,
            "type": "string",
            "enum": [
              "CJGLS",
              "KGB",
              "DONGBU",
              "EPOST",
              "REGISTPOST",
              "HANJIN",
              "HYUNDAI",
              "KGBLS",
              "INNOGIS",
              "DAESIN",
              "ILYANG",
              "KDEXP",
              "CHUNIL",
              "CH1",
              "HDEXP",
              "CVSNET",
              "DHL",
              "FEDEX",
              "GSMNTON",
              "WARPEX",
              "WIZWA",
              "EMS",
              "DHLDE",
              "ACIEXPRESS",
              "EZUSA",
              "PANTOS",
              "UPS",
              "HLCGLOBAL",
              "KOREXG",
              "TNT",
              "SWGEXP",
              "DAEWOON",
              "USPS",
              "IPARCEL",
              "KUNYOUNG",
              "HPL",
              "DADREAM",
              "SLX",
              "SFEXPRESS",
              "HONAM"
            ],
            "x-portone-name": "택배사 코드",
            "x-portone-description": "택배사 코드(delivery_method == `DELIVERY` 인 경우 필수로 입력해야하는 파라메터)"
          },
          {
            "name": "tracking_number",
            "in": "formData",
            "description": "송장번호(delivery_method == 'DELIVERY' 인 경우 필수 파라메터)",
            "required": false,
            "type": "string",
            "x-portone-name": "송장번호",
            "x-portone-description": "송장번호(delivery_method == `DELIVERY` 인 경우 필수 파라미터)"
          }
        ],
        "responses": {
          "200": {
            "description": "모든 상품주문 발송처리 성공",
            "schema": {
              "$ref": "#/definitions/NaverProductOrderArrayResponse"
            }
          },
          "207": {
            "description": "일부 상품주문 발송처리성공 & 일부주문 발송처리실패<br>포트원에서 네이버페이에 발송처리 요청시 product_order_id 개별로 발송요청이 진행되어야 합니다. 일부 건만 성공하는 경우 207 응답이 내려갑니다. (모두 성공인 경우 200응답 / 모두 실패인 경우 500응답)",
            "schema": {
              "$ref": "#/definitions/NaverProductOrderArrayResponse"
            }
          },
          "400": {
            "description": "delivery_method / dispatched_at 파라메터가 누락되거나 올바르지 않은 경우"
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          },
          "404": {
            "description": "imp_uid에 해당되는 거래건을 찾을 수 없거나 접근 권한이 없는 계정인 경우"
          },
          "500": {
            "description": "모든 상품주문 발송처리실패"
          }
        },
        "x-portone-supported-pgs": [
          "naverco"
        ],
        "x-portone-category": "pg.naverpay"
      }
    },
    "/payments/{imp_uid}/naver/ship-exchanged": {
      "post": {
        "tags": [
          "naver"
        ],
        "summary": "(주문형-네이버페이) 교환승인된 상품 재발송처리 API",
        "description": "(주문형-네이버페이) 네이버페이 교환승인된 상품주문들을 재발송처리합니다. <br>\n     주문상품의 종류가 여러 개인 경우, 한 건의 포트원 거래건(imp_uid)에 여러 개의 네이버페이 상품주문이 존재하며 일부 또는 전체를 재발송처리할 수 있습니다.\n     시도된 상품주문 중 <b>재발송처리에 성공한 상품주문</b>에 대한 최종 정보만 제공됩니다.",
        "operationId": "naverShipProductOrder",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "imp_uid",
            "in": "path",
            "description": "네이버페이 재발송처리할 거래건의 포트원 거래고유번호",
            "required": true,
            "type": "string",
            "x-portone-name": "포트원 거래고유번호",
            "x-portone-description": "네이버페이 재발송처리할 거래건의 포트원 거래고유번호"
          },
          {
            "name": "product_order_id",
            "in": "formData",
            "description": "재발송처리할 거래건의 네이버페이 상품주문번호. 생략되면 imp_uid 에 해당되는 모든 상품주문을 재발송처리합니다.",
            "required": false,
            "type": "array",
            "items": "string",
            "x-portone-name": "재발송처리할 거래건의 네이버페이 상품주문번호",
            "x-portone-description": "재발송처리할 거래건의 네이버페이 상품주문번호로 생략되면 imp_uid 에 해당되는 모든 상품주문을 재발송처리합니다."
          },
          {
            "name": "delivery_method",
            "in": "formData",
            "description": "배송방법 코드\n     <h4>delivery_method (배송방법코드)</h4><ul>\n     <li>DELIVERY : 택배, 등기, 소포</li>\n     <li>GDFW_ISSUE_SVC : 굿스플로 송장 출력</li>\n     <li>VISIT_RECEIPT : 방문 수령</li>\n     <li>DIRECT_DELIVERY : 직접 전달</li>\n     <li>QUICK_SVC : 퀵서비스</li>\n     <li>NOTHING : 배송 없음</li> </ul>",
            "required": true,
            "type": "string",
            "enum": [
              "DELIVERY",
              "GDFW_ISSUE_SVC",
              "VISIT_RECEIPT",
              "DIRECT_DELIVERY",
              "QUICK_SVC",
              "NOTHING"
            ],
            "x-portone-name": "배송방법 코드",
            "x-portone-description": "배송방법을 나타내는 코드"
          },
          {
            "name": "delivery_company",
            "in": "formData",
            "description": "택배사 코드(delivery_method == 'DELIVERY' 인 경우 필수 파라메터)\n     <h4>delivery_company (택배사 코드)</h4><ul>\n     <li>CJGLS : CJ 대한통운</li><li>KGB : 로젠택배</li>\n     <li>DONGBU : KG 로지스</li><li>EPOST : 우체국택배</li>\n     <li>REGISTPOST : 우편등기</li><li>HANJIN : 한진택배</li>\n     <li>HYUNDAI : 현대택배</li><li>KGBLS : KGB 택배</li>\n     <li>INNOGIS : GTX 로지스</li><li>DAESIN : 대신택배</li>\n     <li>ILYANG : 일양로지스</li><li>KDEXP : 경동택배</li>\n     <li>CHUNIL : 천일택배</li><li>CH1 : 기타 택배</li>\n     <li>HDEXP : 합동택배</li><li>CVSNET : 편의점택배</li>\n     <li>DHL : DHL</li> <li>FEDEX : FEDEX</li>\n     <li>GSMNTON : GSMNTON</li> <li>WARPEX : WarpEx</li>\n     <li>WIZWA : WIZWA</li> <li>EMS : EMS</li>\n     <li>DHLDE : DHL(독일)</li> <li>ACIEXPRESS : ACI</li>\n     <li>EZUSA : EZUSA</li> <li>PANTOS : 범한판토스</li>\n     <li>UPS : UPS</li> <li>HLCGLOBAL : 현대택배(국제택배)</li>\n     <li>KOREXG : CJ 대한통운(국제택배)</li> <li>TNT : TNT</li>\n     <li>SWGEXP : 성원글로벌</li> <li>DAEWOON : 대운글로벌</li>\n     <li>USPS : USPS</li> <li>IPARCEL : i-parcel</li>\n     <li>KUNYOUNG : 건영택배</li> <li>HPL : 한의사랑택배</li>\n     <li>DADREAM : 다드림</li> <li>SLX : SLX 택배</li>\n     <li>SFEXPRESS : 순풍택배</li> <li>HONAM : 호남택배</li></ul>",
            "required": false,
            "type": "string",
            "enum": [
              "CJGLS",
              "KGB",
              "DONGBU",
              "EPOST",
              "REGISTPOST",
              "HANJIN",
              "HYUNDAI",
              "KGBLS",
              "INNOGIS",
              "DAESIN",
              "ILYANG",
              "KDEXP",
              "CHUNIL",
              "CH1",
              "HDEXP",
              "CVSNET",
              "DHL",
              "FEDEX",
              "GSMNTON",
              "WARPEX",
              "WIZWA",
              "EMS",
              "DHLDE",
              "ACIEXPRESS",
              "EZUSA",
              "PANTOS",
              "UPS",
              "HLCGLOBAL",
              "KOREXG",
              "TNT",
              "SWGEXP",
              "DAEWOON",
              "USPS",
              "IPARCEL",
              "KUNYOUNG",
              "HPL",
              "DADREAM",
              "SLX",
              "SFEXPRESS",
              "HONAM"
            ],
            "x-portone-name": "택배사 코드",
            "x-portone-description": "택배사 코드(delivery_method == `DELIVERY` 인 경우 필수로 입력해야하는 파라메터)"
          },
          {
            "name": "tracking_number",
            "in": "formData",
            "description": "송장번호(delivery_method == 'DELIVERY' 인 경우 필수 파라메터)",
            "required": false,
            "type": "string",
            "x-portone-name": "송장번호",
            "x-portone-description": "송장번호(delivery_method == `DELIVERY` 인 경우 필수로 입력해야하는 파라메터)"
          }
        ],
        "responses": {
          "200": {
            "description": "모든 상품주문 재발송처리 성공",
            "schema": {
              "$ref": "#/definitions/NaverProductOrderArrayResponse"
            }
          },
          "207": {
            "description": "일부 상품주문 재발송처리성공 & 일부주문 재발송처리실패<br>포트원에서 네이버페이에 재발송처리 요청시 product_order_id 개별로 재발송요청이 진행되어야 합니다. 일부 건만 성공하는 경우 207 응답이 내려갑니다. (모두 성공인 경우 200응답 / 모두 실패인 경우 500응답)",
            "schema": {
              "$ref": "#/definitions/NaverProductOrderArrayResponse"
            }
          },
          "400": {
            "description": "delivery_method 파라메터가 누락되거나 올바르지 않은 경우"
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          },
          "404": {
            "description": "imp_uid에 해당되는 거래건을 찾을 수 없거나 접근 권한이 없는 계정인 경우"
          },
          "500": {
            "description": "모든 상품주문 재발송처리실패"
          }
        },
        "x-portone-supported-pgs": [
          "naverco"
        ],
        "x-portone-category": "pg.naverpay"
      }
    },
    "/payments/{imp_uid}/naver/collect-exchanged": {
      "post": {
        "tags": [
          "naver"
        ],
        "summary": "(주문형-네이버페이) 교환승인된 상품 수거완료처리 API",
        "description": "(주문형-네이버페이) 네이버페이 교환승인된 상품주문들을 수거완료처리합니다. <br>\n     주문상품의 종류가 여러 개인 경우, 한 건의 포트원 거래건(imp_uid)에 여러 개의 네이버페이 상품주문이 존재하며 일부 또는 전체를 수거완료처리할 수 있습니다.\n     시도된 상품주문 중 <b>수거완료처리에 성공한 상품주문</b>에 대한 최종 정보만 제공됩니다.",
        "operationId": "naverCollectProductOrder",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "imp_uid",
            "in": "path",
            "description": "네이버페이 수거완료처리 할 거래건의 포트원 거래고유번호",
            "required": true,
            "type": "string",
            "x-portone-name": "포트원 거래고유번호",
            "x-portone-description": "네이버페이 수거완료처리 할 거래건의 포트원 거래고유번호"
          },
          {
            "name": "product_order_id",
            "in": "formData",
            "description": "수거완료처리 할 거래건의 네이버페이 상품주문번호. 생략되면 imp_uid 에 해당되는 모든 상품주문을 수거완료처리합니다.",
            "required": false,
            "type": "array",
            "items": "string",
            "x-portone-name": "네이버페이 상품주문번호",
            "x-portone-description": "수거완료처리 할 거래건의 네이버페이 상품주문번호로 생략되면 imp_uid 에 해당되는 모든 상품주문을 수거완료처리합니다."
          }
        ],
        "responses": {
          "200": {
            "description": "모든 상품주문 수거완료처리 성공",
            "schema": {
              "$ref": "#/definitions/NaverProductOrderArrayResponse"
            }
          },
          "207": {
            "description": "일부 상품주문 수거완료처리성공 & 일부주문 수거완료처리실패<br>포트원에서 네이버페이에 수거완료처리 요청시 product_order_id 개별로 수거완료요청이 진행되어야 합니다. 일부 건만 성공하는 경우 207 응답이 내려갑니다. (모두 성공인 경우 200응답 / 모두 실패인 경우 500응답)",
            "schema": {
              "$ref": "#/definitions/NaverProductOrderArrayResponse"
            }
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          },
          "404": {
            "description": "imp_uid에 해당되는 거래건을 찾을 수 없거나 접근 권한이 없는 계정인 경우"
          },
          "500": {
            "description": "모든 상품주문 수거완료처리실패"
          }
        },
        "x-portone-supported-pgs": [
          "naverco"
        ],
        "x-portone-category": "pg.naverpay"
      }
    },
    "/payments/{imp_uid}/naver/place": {
      "post": {
        "tags": [
          "naver"
        ],
        "summary": "(주문형-네이버페이) 상품발주처리 API",
        "description": "(주문형-네이버페이) 네이버페이 상품주문들을 발주처리합니다. <br>\n     주문상품의 종류가 여러 개인 경우, 한 건의 포트원 거래건(imp_uid)에 여러 개의 네이버페이 상품주문이 존재하며 일부 또는 전체를 발주처리할 수 있습니다.\n     시도된 상품주문 중 <b>발주처리에 성공한 상품주문</b>에 대한 최종 정보만 제공됩니다.",
        "operationId": "naverPlaceProductOrder",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "imp_uid",
            "in": "path",
            "description": "네이버페이 발주처리할 거래건의 포트원 거래고유번호",
            "required": true,
            "type": "string",
            "x-portone-name": "포트원 거래고유번호",
            "x-portone-description": "네이버페이 발주처리할 거래건의 포트원 거래고유번호"
          },
          {
            "name": "product_order_id",
            "in": "formData",
            "description": "네이버페이 발주처리할 거래건의 네이버페이 상품주문번호. 생략되면 imp_uid 에 해당되는 모든 상품주문을 발주처리합니다.",
            "required": false,
            "type": "array",
            "items": "string",
            "x-portone-name": "네이버페이 상품주문번호",
            "x-portone-description": "네이버페이 발주처리할 거래건의 네이버페이 상품주문번호로 생략되면 imp_uid 에 해당되는 모든 상품주문을 발주처리합니다."
          }
        ],
        "responses": {
          "200": {
            "description": "모든 상품주문 발주처리 성공",
            "schema": {
              "$ref": "#/definitions/NaverProductOrderArrayResponse"
            }
          },
          "207": {
            "description": "일부 상품주문 발주처리성공 & 일부주문 발주처리실패<br>포트원에서 네이버페이에 발주처리 요청시 product_order_id 개별로 발주요청이 진행되어야 합니다. 일부 건만 성공하는 경우 207 응답이 내려갑니다. (모두 성공인 경우 200응답 / 모두 실패인 경우 500응답)",
            "schema": {
              "$ref": "#/definitions/NaverProductOrderArrayResponse"
            }
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          },
          "404": {
            "description": "imp_uid에 해당되는 거래건을 찾을 수 없거나 접근 권한이 없는 계정인 경우"
          },
          "500": {
            "description": "모든 상품주문 발주처리실패"
          }
        },
        "x-portone-supported-pgs": [
          "naverco"
        ],
        "x-portone-category": "pg.naverpay"
      }
    },
    "/payments/{imp_uid}/naver/request-return": {
      "post": {
        "tags": [
          "naver"
        ],
        "summary": "(주문형-네이버페이) 상품반품요청 API",
        "description": "(주문형-네이버페이) 네이버페이 상품주문들을 반품요청합니다. <br>\n     주문상품의 종류가 여러 개인 경우, 한 건의 포트원 거래건(imp_uid)에 여러 개의 네이버페이 상품주문이 존재하며 일부 또는 전체를 반품요청할 수 있습니다.\n     시도된 상품주문 중 <b>반품요청에 성공한 상품주문</b>에 대한 최종 정보만 제공됩니다.",
        "operationId": "naverRequestReturnProductOrder",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "imp_uid",
            "in": "path",
            "description": "네이버페이 반품요청할 거래건의 포트원 거래고유번호",
            "required": true,
            "type": "string",
            "x-portone-name": "포트원 거래고유번호",
            "x-portone-description": "네이버페이 반품요청할 거래건의 포트원 거래고유번호"
          },
          {
            "name": "product_order_id",
            "in": "formData",
            "description": "반품요청할 거래건의 네이버페이 상품주문번호. 생략되면 imp_uid 에 해당되는 모든 상품주문을 반품요청합니다.",
            "required": false,
            "type": "array",
            "items": "string",
            "x-portone-name": "네이버페이 상품주문번호",
            "x-portone-description": "반품요청할 거래건의 네이버페이 상품주문번호로 생략되면 imp_uid 에 해당되는 모든 상품주문을 반품요청합니다."
          },
          {
            "name": "reason",
            "in": "formData",
            "description": "반품사유코드. 올바르지 않은 사유코드인 경우 기본값(INTENT_CHANGED)을 적용합니다.\n                 <ul>\n                     <li>INTENT_CHANGED : 구매 의사 취소</li>\n                     <li>COLOR_AND_SIZE : 색상 및 사이즈 변경</li>\n                     <li>WRONG_ORDER : 다른 상품 잘못 주문</li>\n                     <li>PRODUCT_UNSATISFIED : 서비스 및 상품 불만족</li>\n                     <li>DELAYED_DELIVERY : 배송 지연</li>\n                     <li>SOLD_OUT : 상품 품절</li>\n                     <li>DROPPED_DELIVERY : 배송 누락</li>\n                     <li>BROKEN : 상품 파손</li>\n                     <li>INCORRECT_INFO : 상품정보상이</li>\n                     <li>WRONG_DELIVERY : 오배송</li>\n                     <li>WRONG_OPTION : 색상 등이 다른 상품을 잘못 배송</li>\n                 </ul>",
            "required": false,
            "type": "string",
            "default": "INTENT_CHANGED",
            "enum": [
              "INTENT_CHANGED",
              "COLOR_AND_SIZE",
              "WRONG_ORDER",
              "PRODUCT_UNSATISFIED",
              "DELAYED_DELIVERY",
              "SOLD_OUT",
              "DROPPED_DELIVERY",
              "BROKEN",
              "INCORRECT_INFO",
              "WRONG_DELIVERY",
              "WRONG_OPTION"
            ],
            "x-portone-name": "반품사유코드",
            "x-portone-description": "반품사유코드로 올바르지 않은 사유코드인 경우 기본값(`INTENT_CHANGED`)을 적용합니다."
          },
          {
            "name": "delivery_method",
            "in": "formData",
            "description": "반품 배송방법 코드\n                <ul>\n                    <li>RETURN_DESIGNATED : 지정 반품 택배(판매자 측에서 택배접수는 미리 해준 경우)</li>\n                    <li>RETURN_DELIVERY : 일반 반품 택배</li>\n                    <li>RETURN_INDIVIDUAL : 직접 반송</li>\n                </ul>",
            "required": true,
            "type": "string",
            "enum": [
              "RETURN_DESIGNATED",
              "RETURN_DELIVERY",
              "RETURN_INDIVIDUAL"
            ],
            "x-portone-name": "배송방법 코드",
            "x-portone-description": "반품 배송방법 코드"
          },
          {
            "name": "delivery_company",
            "in": "formData",
            "description": "택배사 코드(delivery_method == 'RETURN_DELIVERY' 인 경우 필수 파라메터)\n                <ul>\n                    <li>CJGLS : CJ 대한통운</li>\n                    <li>KGB : 로젠택배</li>\n                    <li>DONGBU : KG 로지스</li>\n                    <li>EPOST : 우체국택배</li>\n                    <li>REGISTPOST : 우편등기</li>\n                    <li>HANJIN : 한진택배</li>\n                    <li>HYUNDAI : 현대택배</li>\n                    <li>KGBLS : KGB 택배</li>\n                    <li>INNOGIS : GTX 로지스</li>\n                    <li>DAESIN : 대신택배</li>\n                    <li>ILYANG : 일양로지스</li>\n                    <li>KDEXP : 경동택배</li>\n                    <li>CHUNIL : 천일택배</li>\n                    <li>CH1 : 기타 택배</li>\n                    <li>HDEXP : 합동택배</li>\n                    <li>CVSNET : 편의점택배</li>\n                    <li>DHL : DHL</li>\n                    <li>FEDEX : FEDEX</li>\n                    <li>GSMNTON : GSMNTON</li>\n                    <li>WARPEX : WarpEx</li>\n                    <li>WIZWA : WIZWA</li>\n                    <li>EMS : EMS</li>\n                    <li>DHLDE : DHL(독일)</li>\n                    <li>ACIEXPRESS : ACI</li>\n                    <li>EZUSA : EZUSA</li>\n                    <li>PANTOS : 범한판토스</li>\n                    <li>UPS : UPS</li>\n                    <li>HLCGLOBAL : 현대택배(국제택배)</li>\n                    <li>KOREXG : CJ 대한통운(국제택배)</li>\n                    <li>TNT : TNT</li>\n                    <li>SWGEXP : 성원글로벌</li>\n                    <li>DAEWOON : 대운글로벌</li>\n                    <li>USPS : USPS</li>\n                    <li>IPARCEL : i-parcel</li>\n                    <li>KUNYOUNG : 건영택배</li>\n                    <li>HPL : 한의사랑택배</li>\n                    <li>DADREAM : 다드림</li>\n                    <li>SLX : SLX 택배</li>\n                    <li>SFEXPRESS : 순풍택배</li>\n                    <li>HONAM : 호남택배</li>\n                </ul>",
            "required": false,
            "type": "string",
            "enum": [
              "CJGLS",
              "KGB",
              "DONGBU",
              "EPOST",
              "REGISTPOST",
              "HANJIN",
              "HYUNDAI",
              "KGBLS",
              "INNOGIS",
              "DAESIN",
              "ILYANG",
              "KDEXP",
              "CHUNIL",
              "CH1",
              "HDEXP",
              "CVSNET",
              "DHL",
              "FEDEX",
              "GSMNTON",
              "WARPEX",
              "WIZWA",
              "EMS",
              "DHLDE",
              "ACIEXPRESS",
              "EZUSA",
              "PANTOS",
              "UPS",
              "HLCGLOBAL",
              "KOREXG",
              "TNT",
              "SWGEXP",
              "DAEWOON",
              "USPS",
              "IPARCEL",
              "KUNYOUNG",
              "HPL",
              "DADREAM",
              "SLX",
              "SFEXPRESS",
              "HONAM"
            ],
            "x-portone-name": "택배사 코드",
            "x-portone-description": "택배사 코드(delivery_method == `RETURN_DELIVERY` 인 경우 필수로 입력해야하는 파라메터)"
          },
          {
            "name": "tracking_number",
            "in": "formData",
            "description": "송장번호(delivery_method == 'RETURN_DELIVERY' 인 경우 필수 파라메터)",
            "required": false,
            "type": "string",
            "x-portone-name": "송장번호",
            "x-portone-description": "송장번호(delivery_method == `RETURN_DELIVERY` 인 경우 필수로 입력해야하는 파라메터)"
          }
        ],
        "responses": {
          "200": {
            "description": "모든 상품주문 반품요청 성공",
            "schema": {
              "$ref": "#/definitions/NaverProductOrderArrayResponse"
            }
          },
          "207": {
            "description": "일부 상품주문 반품요청성공 & 일부주문 반품요청실패<br>\n     포트원에서 네이버페이에 반품요청시 product_order_id 개별로 반품요청이 진행되어야 합니다. 일부 건만 성공하는 경우 207 응답이 내려갑니다. (모두 성공인 경우 200응답 / 모두 실패인 경우 500응답)",
            "schema": {
              "$ref": "#/definitions/NaverProductOrderArrayResponse"
            }
          },
          "400": {
            "description": "delivery_method 파라메터가 누락되거나 올바르지 않은 경우"
          },
          "401": {
            "description": "인증 Token이 전달되지 않았거나 유효하지 않은 경우"
          },
          "404": {
            "description": "imp_uid에 해당되는 거래건을 찾을 수 없거나 접근 권한이 없는 계정인 경우"
          },
          "500": {
            "description": "모든 상품주문 반품요청실패"
          }
        },
        "x-portone-supported-pgs": [
          "naverco"
        ],
        "x-portone-category": "pg.naverpay"
      }
    },
    "/payments/{imp_uid}/naver/approve-return": {
      "post": {
        "tags": [
          "naver"
        ],
        "summary": "(주문형-네이버페이) 상품 반품승인 처리 API",
        "description": "(주문형-네이버페이) 네이버페이 상품주문들을 반품승인처리합니다. <br>\n     주문상품의 종류가 여러 개인 경우, 한 건의 포트원 거래건(imp_uid)에 여러 개의 네이버페이 상품주문이 존재하며 일부 또는 전체를 반품승인 처리할 수 있습니다.\n     반품시 배송비 제외, 혹은 추가 청구액이 필요한 경우 반품보류 처리(<a target='_blank' href='/#!/naver/naverWithholdReturnProductOrder'>POST 반품요청상품 반품보류 처리 API</a>) 사용합니다.\n     <br> 시도된 상품주문 중 <b>반품승인 처리에 성공한 상품주문</b>에 대한 최종 정보만 제공됩니다.",
        "operationId": "naverApproveReturnProductOrder",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "imp_uid",
            "in": "path",
[...]
